In [1]:
from datetime import date
# import pandas as pd
import os
exec(os.environ['IREWR_IMPORTS'])
import numpy as np
# ALEX: remove plotting
# import matplotlib.pyplot as graphic

# from math import sqrt, factorial, log, ceil
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.model_selection import cross_val_score

# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import LabelEncoder

# import matplotlib.pyplot as plt
# import seaborn as sns
# import random 
# import warnings
# import operator
# warnings.filterwarnings("ignore")

In [2]:
train = pd.read_csv('./input/train.scaled.csv')
test = pd.read_csv('./input/test.scaled.csv')

In [3]:
target_name = 'Target'
print ("Tamanho train: ", train.shape)
print ("Tamanho test: ", test.shape)

Tamanho train:  (9557, 143)
Tamanho test:  (23856, 142)

In [4]:
train.describe()

,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,r4h2,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
count,2.697000e+03,9557.000000,9557.000000,9557.000000,9557.000000,9557.000000,9557.000000,2215.000000,9557.000000,9557.000000,...,9557.000000,9557.000000,9557.000000,9557.000000,9557.000000,9557.000000,9557.000000,9552.000000,9557.000000,9557.000000
mean,1.652316e+05,0.038087,4.955530,0.023648,0.994768,0.957623,0.231767,1.404063,0.385895,1.559171,...,74.222769,1643.774302,19.132887,53.500262,3.844826,3.249485,3.900409,102.588867,1643.774302,3.302292
std,1.504571e+05,0.191417,1.468381,0.151957,0.072145,0.201459,0.421983,0.763131,0.680779,1.036574,...,76.777549,1741.197050,18.751395,78.445804,6.946296,4.129547,12.511831,93.516890,1741.197050,1.009565
min,0.000000e+00,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.040000,0.000000,0.000000,0.000000,1.000000
25%,8.000000e+04,0.000000,4.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,16.000000,289.000000,9.000000,0.000000,0.000000,1.000000,0.111111,36.000000,289.000000,3.000000
50%,1.300000e+05,0.000000,5.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,36.000000,961.000000,16.000000,36.000000,1.000000,2.250000,0.444444,81.000000,961.000000,4.000000
75%,2.000000e+05,0.000000,6.000000,0.000000,1.000000,1.000000,0.000000,2.000000,1.000000,2.000000,...,121.000000,2601.000000,25.000000,81.000000,4.000000,4.000000,1.777778,134.560010,2601.000000,4.000000
max,2.353477e+06,1.000000,11.000000,1.000000,1.000000,1.000000,1.000000,6.000000,5.000000,8.000000,...,441.000000,9409.000000,169.000000,441.000000,81.000000,36.000000,64.000000,1369.000000,9409.000000,4.000000

Uma breve análse gráfica das colunas do tipo 'float'.

In [5]:
from collections import OrderedDict

# ALEX: remove plotting
# plt.figure(figsize = (15, 12))
# plt.style.use('fivethirtyeight')

colors = OrderedDict({1: 'red', 2: 'orange', 3: 'yellow', 4: 'green'})
poverty_mapping = OrderedDict({1: 'extreme', 2: 'moderate', 3: 'vulnerable', 4: 'non vulnerable'})

for i, col in enumerate(train.select_dtypes('float')):
# ALEX: remove plotting
#     ax = plt.subplot(4, 2, i + 1)
    for poverty_level, color in colors.items():
# ALEX: remove plotting
#         sns.kdeplot(train.loc[train['Target'] == poverty_level, col].dropna(), 
#                     ax = ax, color = color, label = poverty_mapping[poverty_level])
        _ = train.loc[train['Target'] == poverty_level, col].dropna()

# ALEX: remove plotting
#     plt.title(f'{col.capitalize()} Distribution'); plt.xlabel(f'{col}'); plt.ylabel('Density')
    _ = col.capitalize()

# ALEX: remove plotting
# plt.subplots_adjust(top = 2)

In [6]:
train.select_dtypes('object').head()

             Id    idhogar dependency edjefe edjefa
0  ID_279628684  21eb7fcc1         no     10     no
1  ID_f29eb3ddd  0e5d7a658          8     12     no
2  ID_68de51c94  2c7317ea8          8     no     11
3  ID_d671db89c  2b58d945f        yes     11     no
4  ID_d56d6f5f5  2b58d945f        yes     11     no

Após uma análise das colunas do tipo 'object', vemos que, com exeção do 'id' e 'idhogar', podemos transformar as respostas escritas de "sim" e "nao" em valores booleanos.

In [7]:
mapping = {"yes": 1, "no": 0}

for df in [train, test]:
    df['dependency'] = df['dependency'].replace(mapping).astype(np.float64)
    df['edjefa'] = df['edjefa'].replace(mapping).astype(np.float64)
    df['edjefe'] = df['edjefe'].replace(mapping).astype(np.float64)

train[['dependency', 'edjefa', 'edjefe']].describe()

        dependency       edjefa       edjefe
count  9557.000000  9557.000000  9557.000000
mean      1.149550     2.896830     5.096788
std       1.605993     4.612056     5.246513
min       0.000000     0.000000     0.000000
25%       0.333333     0.000000     0.000000
50%       0.666667     0.000000     6.000000
75%       1.333333     6.000000     9.000000
max       8.000000    21.000000    21.000000

Agora conseguimos representá-los de forma gráfica.

In [8]:
# ALEX: remove plotting
# plt.figure(figsize = (8, 8))

for i, col in enumerate(['dependency', 'edjefa', 'edjefe']):
# ALEX: remove plotting
#     ax = plt.subplot(3, 1, i + 1)
 
    for poverty_level, color in colors.items():
        
# ALEX: remove plotting
#         sns.kdeplot(train.loc[train['Target'] == poverty_level, col].dropna(), 
#                     ax = ax, color = color, label = poverty_mapping[poverty_level])
        _ = train.loc[train['Target'] == poverty_level, col].dropna()
        
# ALEX: remove plotting
#     plt.title(f'{col.capitalize()} Distribution'); plt.xlabel(f'{col}'); plt.ylabel('Density')

# plt.subplots_adjust(top = 2)

Juntamos o 'train' e 'test' para que os futuros ajustes sejam feitos em ambos (depois podemos separá-los novamente).

## STEF-UPDATED

In [9]:
test['Target'] = np.nan
# data = train.append(test, ignore_index = True)
data = pd.concat([train, test], ignore_index=True)

/tmp/ipykernel_39774/3085563622.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = train.append(test, ignore_index = True)

Aqui ajeitamos alguns dados que haviam divergencias (como, por exemplo, 'Target' diferentes para membros de uma mesma casa)

In [10]:
all_equal = train.groupby('idhogar')['Target'].apply(lambda x: x.nunique() == 1)

not_equal = all_equal[all_equal != True]

In [11]:
households_leader = train.groupby('idhogar')['parentesco1'].sum()
households_no_head = train.loc[train['idhogar'].isin(households_leader[households_leader == 0].index), :]
households_no_head_equal = households_no_head.groupby('idhogar')['Target'].apply(lambda x: x.nunique() == 1)

In [12]:
for household in not_equal.index:
# ALEX: make notebook run with input scaling
#     true_target = int(train[(train['idhogar'] == household) & (train['parentesco1'] == 1.0)]['Target'])
    true_target = int(train[(train['idhogar'] == household) & (train['parentesco1'] == 1.0)].iloc[0]['Target'])
    train.loc[train['idhogar'] == household, 'Target'] = true_target
    
all_equal = train.groupby('idhogar')['Target'].apply(lambda x: x.nunique() == 1)
not_equal = all_equal[all_equal != True]

In [13]:
print('\n Missing Values')
missing = pd.DataFrame(data.isnull().sum()).rename(columns = {0: 'total'})
missing['percent'] = missing['total'] / len(data)
missing.sort_values('percent', ascending = False).head(10).drop('Target')

 Missing Values

              total   percent
rez_esc       27581  0.825457
v18q1         25468  0.762218
v2a1          24263  0.726154
SQBmeaned        36  0.001077
meaneduc         36  0.001077
hogar_adul        0  0.000000
parentesco10      0  0.000000
parentesco11      0  0.000000
parentesco12      0  0.000000

In [14]:
def plot_value_counts(df, col, heads_only = False):
    if heads_only:
        df = df.loc[df['parentesco1'] == 1].copy()
        
# ALEX: remove plotting
#     plt.figure(figsize = (8, 6))
#     df[col].value_counts().sort_index().plot.bar(color = 'blue',
#                                                  edgecolor = 'k',
#                                                  linewidth = 2)
#     plt.xlabel(f'{col}'); plt.title(f'{col} Value Counts'); plt.ylabel('Count')
#     plt.show();
    df[col].value_counts().sort_index()

Mudando 'nan' pelo inteiro 0 na coluna sobre quantidade de tablets.

In [15]:
data['v18q1'] = data['v18q1'].fillna(0)

Melhorando a coluna 'v2a1' (=Monthly rent payment) e seu missing data.

In [16]:
own_variables = [x for x in data if x.startswith('tipo')]
# ALEX: remove plotting
# data.loc[data['v2a1'].isnull(), own_variables].sum().plot.bar(figsize = (8, 6),
#                                                                         color = 'blue',
#                                                               edgecolor = 'k', linewidth = 2);
# plt.xticks([0, 1, 2, 3, 4],
#            ['Owns and Paid Off', 'Owns and Paying', 'Rented', 'Precarious', 'Other'],
#           rotation = 60)
# plt.title('Home Ownership Status for Households Missing Rent Payments', size = 18);
data.loc[data['v2a1'].isnull(), own_variables].sum()

tipovivi1    20844
tipovivi2        0
tipovivi3        0
tipovivi4      597
tipovivi5     2822
dtype: int64

In [17]:
data.loc[(data['tipovivi1'] == 1), 'v2a1'] = 0
data['v2a1-missing'] = data['v2a1'].isnull()
data['v2a1-missing'].value_counts()

False    29994
True      3419
Name: v2a1-missing, dtype: int64

Melhorando a coluna 'rez_esc' (=years behind in school) e seu missing data.

In [18]:
data.loc[((data['age'] > 19) | (data['age'] < 7)) & (data['rez_esc'].isnull()), 'rez_esc'] = 0
data['rez_esc-missing'] = data['rez_esc'].isnull()
data.loc[data['rez_esc'] > 5, 'rez_esc'] = 5

Abaixo definimos manualmente as variáveis ​​em cada categoria.

In [19]:
id_ = ['Id', 'idhogar', 'Target']
ind_bool = ['v18q', 'dis', 'male', 'female', 'estadocivil1', 'estadocivil2', 'estadocivil3', 
            'estadocivil4', 'estadocivil5', 'estadocivil6', 'estadocivil7', 
            'parentesco1', 'parentesco2',  'parentesco3', 'parentesco4', 'parentesco5', 
            'parentesco6', 'parentesco7', 'parentesco8',  'parentesco9', 'parentesco10', 
            'parentesco11', 'parentesco12', 'instlevel1', 'instlevel2', 'instlevel3', 
            'instlevel4', 'instlevel5', 'instlevel6', 'instlevel7', 'instlevel8', 
            'instlevel9', 'mobilephone', 'rez_esc-missing']
ind_ordered = ['rez_esc', 'escolari', 'age']
hh_bool = ['hacdor', 'hacapo', 'v14a', 'refrig', 'paredblolad', 'paredzocalo', 
           'paredpreb','pisocemento', 'pareddes', 'paredmad',
           'paredzinc', 'paredfibras', 'paredother', 'pisomoscer', 'pisoother', 
           'pisonatur', 'pisonotiene', 'pisomadera',
           'techozinc', 'techoentrepiso', 'techocane', 'techootro', 'cielorazo', 
           'abastaguadentro', 'abastaguafuera', 'abastaguano',
            'public', 'planpri', 'noelec', 'coopele', 'sanitario1', 
           'sanitario2', 'sanitario3', 'sanitario5',   'sanitario6',
           'energcocinar1', 'energcocinar2', 'energcocinar3', 'energcocinar4', 
           'elimbasu1', 'elimbasu2', 'elimbasu3', 'elimbasu4', 
           'elimbasu5', 'elimbasu6', 'epared1', 'epared2', 'epared3',
           'etecho1', 'etecho2', 'etecho3', 'eviv1', 'eviv2', 'eviv3', 
           'tipovivi1', 'tipovivi2', 'tipovivi3', 'tipovivi4', 'tipovivi5', 
           'computer', 'television', 'lugar1', 'lugar2', 'lugar3',
           'lugar4', 'lugar5', 'lugar6', 'area1', 'area2', 'v2a1-missing']
hh_ordered = [ 'rooms', 'r4h1', 'r4h2', 'r4h3', 'r4m1','r4m2','r4m3', 'r4t1',  'r4t2', 
              'r4t3', 'v18q1', 'tamhog','tamviv','hhsize','hogar_nin',
              'hogar_adul','hogar_mayor','hogar_total',  'bedrooms', 'qmobilephone']
hh_cont = ['v2a1', 'dependency', 'edjefe', 'edjefa', 'meaneduc', 'overcrowding']
sqr_ = ['SQBescolari', 'SQBage', 'SQBhogar_total', 'SQBedjefe', 
        'SQBhogar_nin', 'SQBovercrowding', 'SQBdependency', 'SQBmeaned', 'agesq']

Removendo categoria 'sqr_' de nossa DB

In [20]:
data = data.drop(columns = sqr_)

Retirando variáveis redundantes (alta correlação e praticamente dizem a mesma coisa)

In [21]:
heads = data.loc[data['parentesco1'] == 1, :]
heads = heads[id_ + hh_bool + hh_cont + hh_ordered]
heads = heads.drop(columns = ['tamhog', 'hogar_total', 'r4t3'])

Resumindo algumas colunas boleanas em uma só variável cardinal

In [22]:
elec = []
for i, row in heads.iterrows():
    if row['noelec'] == 1:
        elec.append(0)
    elif row['coopele'] == 1:
        elec.append(1)
    elif row['public'] == 1:
        elec.append(2)
    elif row['planpri'] == 1:
        elec.append(3)
    else:
        elec.append(np.nan)
        
heads['elec'] = elec
heads['elec-missing'] = heads['elec'].isnull()
heads = heads.drop(columns = ['noelec', 'coopele', 'public', 'planpri'])

In [23]:
water = []
for i, row in heads.iterrows():
    if row['abastaguano'] == 1:
        water.append(0)
    elif row['abastaguafuera'] == 1:
        water.append(1)
    elif row['abastaguadentro'] == 1:
        water.append(2)
    else:
        water.append(np.nan)
        
heads['water'] = water
heads['water-missing'] = heads['water'].isnull()
heads = heads.drop(columns = ['abastaguano', 'abastaguafuera', 'abastaguadentro'])

In [24]:
sanit = []
for i, row in heads.iterrows():
    if row['sanitario1'] == 1:
        sanit.append(0)
    elif row['v14a'] == 0:
        sanit.append(0)
    elif row['sanitario2'] == 1:
        sanit.append(3)
    elif row['sanitario3'] == 1:
        sanit.append(2)
    elif row['sanitario5'] == 1:
        sanit.append(1)
    elif row['sanitario6'] == 1:
        sanit.append(2)
    else:
        sanit.append(np.nan)
        
heads['sanit'] = sanit
heads['sanit-missing'] = heads['sanit'].isnull()
heads = heads.drop(columns = ['sanitario1', 'sanitario2', 'sanitario3', 'sanitario5', 'sanitario6', 'v14a'])

In [25]:
cozinhar = []
for i, row in heads.iterrows():
    if row['energcocinar1'] == 1:
        cozinhar.append(0)
    elif row['energcocinar2'] == 1:
        cozinhar.append(2)
    elif row['energcocinar3'] == 1:
        cozinhar.append(2)
    elif row['energcocinar4'] == 1:
        cozinhar.append(1)
    else:
        cozinhar.append(np.nan)
        
heads['cozinhar'] = cozinhar
heads['cozinhar-missing'] = heads['cozinhar'].isnull()
heads = heads.drop(columns = ['energcocinar1', 'energcocinar2', 'energcocinar3', 'energcocinar4'])

In [26]:
heads = heads.drop(columns = ['area2', 'elimbasu1', 'elimbasu2', 'elimbasu3', 'elimbasu4', 'elimbasu5', 'elimbasu6'])

In [27]:
heads['walls'] = np.argmax(np.array(heads[['epared1', 'epared2', 'epared3']]), axis = 1)
heads = heads.drop(columns = ['epared1', 'epared2', 'epared3'])

heads['roof'] = np.argmax(np.array(heads[['etecho1', 'etecho2', 'etecho3']]), axis = 1)
heads = heads.drop(columns = ['etecho1', 'etecho2', 'etecho3'])

heads['floor'] = np.argmax(np.array(heads[['eviv1', 'eviv2', 'eviv3']]), axis = 1)
heads = heads.drop(columns = ['eviv1', 'eviv2', 'eviv3'])

In [28]:
heads['walls+roof+floor'] = heads['walls'] + heads['roof'] + heads['floor']
counts = pd.DataFrame(heads.groupby(['walls+roof+floor'])['Target'].value_counts(normalize = True)).rename(columns = {'Target': 'Normalized Count'}).reset_index()
counts.head()

   walls+roof+floor  Target  Normalized Count
0                 0     4.0          0.376404
1                 0     2.0          0.320225
2                 0     1.0          0.162921
3                 0     3.0          0.140449
4                 1     4.0          0.323529

In [29]:
heads['rooms-per-capita'] = heads['rooms'] / heads['tamviv']
heads['rent-per-capita'] = heads['v2a1'] / heads['tamviv']
heads['electronics-per-capita'] = (heads['v18q1'] + heads['qmobilephone']) / heads['tamviv']

In [30]:
ind = data[id_ + ind_bool + ind_ordered]

In [31]:
ind[[c for c in ind if c.startswith('instl')]].head()

,instlevel1,instlevel2,instlevel3,instlevel4,instlevel5,instlevel6,instlevel7,instlevel8,instlevel9
0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,1,0,0,0,0
3,0,0,0,1,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0

In [32]:
ind['inst'] = np.argmax(np.array(ind[[c for c in ind if c.startswith('instl')]]), axis = 1)

/tmp/ipykernel_39774/1278368259.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ind['inst'] = np.argmax(np.array(ind[[c for c in ind if c.startswith('instl')]]), axis = 1)

In [33]:
ind = ind.drop(columns = [c for c in ind if c.startswith('instlevel')])
ind['inst/age'] = ind['inst'] / ind['age']
ind['escolari/age'] = ind['escolari'] / ind['age']
ind['tech'] = ind['v18q'] + ind['mobilephone']
ind['tech'].describe()

count    33413.000000
mean         1.214886
std          0.462567
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000
Name: tech, dtype: float64

Aqui combinaremos algumas classificações booleanas em uma só.

In [34]:
def combine_features(data, cols=[], name=''):
    df = data.copy()
    for i, col in enumerate(cols):
        print(i + 1, col)
    df[cols] = df[cols].multiply([i for i in range(1, len(cols) + 1)], axis=1)
    df[name] = df[cols].sum(axis=1)
    df.drop(cols, axis=1, inplace=True)
    return df

In [35]:
heads = combine_features(heads, cols=[col for col in heads.columns if col.startswith('lugar')], name='region')
print('Region count by target.');
# ALEX: remove plotting
# sns.factorplot("region", col="Target", col_wrap=4, data=heads, kind="count");

1 lugar1
2 lugar2
3 lugar3
4 lugar4
5 lugar5
6 lugar6
Region count by target.

In [36]:
heads = combine_features(heads, cols=[col for col in heads.columns if col.startswith('tipovivi')], name='home_own')
print('Home ownership type count by target.');
# ALEX: remove plotting
# sns.factorplot("home_own", col="Target", col_wrap=4, data=heads, kind="count");

1 tipovivi1
2 tipovivi2
3 tipovivi3
4 tipovivi4
5 tipovivi5
Home ownership type count by target.

In [37]:
heads = heads.drop(columns = ['paredblolad', 'paredzocalo', 'paredpreb', 'pareddes', 'paredmad', 'paredzinc', 'paredfibras',
                             'paredother', 'pisomoscer', 'pisocemento', 'pisoother', 'pisonatur', 'pisomadera', 'techozinc',
                             'techoentrepiso', 'techocane', 'techootro', 'hogar_nin', 'hogar_mayor', 'hogar_adul',
                             'dependency', 'edjefe', 'edjefa', 'meaneduc', 'r4h1', 'r4h2', 'r4h3', 'r4m1',
                             'r4m2', 'r4m3', 'r4t1', 'r4t2', 'walls', 'roof', 'floor', 'rooms', 'v2a1', 'qmobilephone',
                             'v18q1', 'hacapo', 'cielorazo', 'bedrooms', 'pisonotiene', 'hacdor'])

In [38]:
ind = ind.drop(columns = ['estadocivil1', 'estadocivil2', 'estadocivil3', 'estadocivil4', 'estadocivil5', 'estadocivil6',
                              'estadocivil7', 'parentesco1', 'parentesco2',  'parentesco3', 'parentesco4', 'parentesco5', 
                              'parentesco6', 'parentesco7', 'parentesco8',  'parentesco9', 'parentesco10', 'parentesco11',
                              'parentesco12', 'mobilephone', 'escolari', 'inst', 'age', 'v18q', 'male'])

In [39]:
final = heads.merge(ind, on = id_ , how = 'left')
print('Final features shape: ', final.shape)

Final features shape:  (10307, 32)

In [40]:
print('\n Missing Values')
missing = pd.DataFrame(final.isnull().sum()).rename(columns = {0: 'total'})
missing['percent'] = missing['total'] / len(final)
missing.sort_values('percent', ascending = False).head(10).drop('Target')

 Missing Values

                        total   percent
rent-per-capita          1065  0.103328
rez_esc                    28  0.002717
elec                       15  0.001455
Id                          0  0.000000
region                      0  0.000000
walls+roof+floor            0  0.000000
rooms-per-capita            0  0.000000
electronics-per-capita      0  0.000000
dis                         0  0.000000

In [41]:
final = final[final['elec-missing'] != True]
final = final[final['rez_esc-missing'] != True]
final = final[final['cozinhar-missing'] != True]
final = final[final['water-missing'] != True]
final = final[final['sanit-missing'] != True]
final = final[final['v2a1-missing'] != True]

In [42]:
print('Final features shape: ', final.shape)

Final features shape:  (9211, 32)

In [43]:
final = final.drop(columns = ['sanit-missing', 'cozinhar-missing', 'water-missing', 'elec-missing', 'v2a1-missing',
                              'rez_esc-missing'])

In [44]:
print('Final features shape: ', final.shape)

Final features shape:  (9211, 26)

In [45]:
train_labels = np.array(list(final[final['Target'].notnull()]['Target'].astype(np.uint8)))

SPLIT = final[final['Target'].notnull()].drop(columns = ['Id', 'idhogar'])
FINALtest = final[final['Target'].isnull()]
submission_base = FINALtest[['Id', 'idhogar']].copy()
FINALtest = FINALtest.drop(columns = ['Id', 'idhogar', 'Target' ])

In [46]:
# ALEX: remove ML code
# train, test = train_test_split(SPLIT, test_size=0.2)

In [47]:
neighbors = [3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35]
Xtrain = train
Ytrain = train.Target
Xtest = test
Ytest = test.Target

In [48]:
# ALEX: remove ML code
# print('With CV = 3:')
# cv_scores = []

# for k in neighbors:
#     knn = KNeighborsClassifier(n_neighbors=k)
#     scores = cross_val_score(knn, Xtrain, Ytrain, cv=3, scoring='accuracy')
#     cv_scores.append(scores.mean())
    
    
# MSE = [1 - x for x in cv_scores]
# optimal_k = neighbors[MSE.index(min(MSE))]
# print("The optimal number of neighbors is %d" % optimal_k)

In [49]:
# ALEX: remove plotting
# plt.plot(neighbors, MSE)
# plt.xlabel('Number of Neighbors K')
# plt.ylabel('Misclassification Error')
# plt.show()

In [50]:
# ALEX: remove ML code
# print('With CV = 5:')
# cv_scores = []

# for k in neighbors:
#     knn = KNeighborsClassifier(n_neighbors=k)
#     scores = cross_val_score(knn, Xtrain, Ytrain, cv=5, scoring='accuracy')
#     cv_scores.append(scores.mean())
    
    
# MSE = [1 - x for x in cv_scores]
# optimal_k = neighbors[MSE.index(min(MSE))]
# print("The optimal number of neighbors is %d" % optimal_k)

In [51]:
# ALEX: remove plotting
# plt.plot(neighbors, MSE)
# plt.xlabel('Number of Neighbors K')
# plt.ylabel('Misclassification Error')
# plt.show()

In [52]:
# ALEX: remove ML code
# print('With CV = 10:')
# cv_scores = []

# for k in neighbors:
#     knn = KNeighborsClassifier(n_neighbors=k)
#     scores = cross_val_score(knn, Xtrain, Ytrain, cv=10, scoring='accuracy')
#     cv_scores.append(scores.mean())
    
    
# MSE = [1 - x for x in cv_scores]
# optimal_k = neighbors[MSE.index(min(MSE))]
# print("The optimal number of neighbors is %d" % optimal_k)

In [53]:
# ALEX: remove plotting
# plt.plot(neighbors, MSE)
# plt.xlabel('Number of Neighbors K')
# plt.ylabel('Misclassification Error')
# plt.show()

In [54]:
# ALEX: remove ML code
# print('With CV = 15:')
# cv_scores = []

# for k in neighbors:
#     knn = KNeighborsClassifier(n_neighbors=k)
#     scores = cross_val_score(knn, Xtrain, Ytrain, cv=15, scoring='accuracy')
#     cv_scores.append(scores.mean())
    
    
# MSE = [1 - x for x in cv_scores]
# optimal_k = neighbors[MSE.index(min(MSE))]
# print("The optimal number of neighbors is %d" % optimal_k)

In [55]:
# ALEX: remove plotting
# plt.plot(neighbors, MSE)
# plt.xlabel('Number of Neighbors K')
# plt.ylabel('Misclassification Error')
# plt.show()

In [56]:
# ALEX: remove ML code
# print('With CV = 20:')
# cv_scores = []

# for k in neighbors:
#     knn = KNeighborsClassifier(n_neighbors=k)
#     scores = cross_val_score(knn, Xtrain, Ytrain, cv=20, scoring='accuracy')
#     cv_scores.append(scores.mean())
    
    
# MSE = [1 - x for x in cv_scores]
# optimal_k = neighbors[MSE.index(min(MSE))]
# print("The optimal number of neighbors is %d" % optimal_k)

In [57]:
# ALEX: remove plotting
# plt.plot(neighbors, MSE)
# plt.xlabel('Number of Neighbors K')
# plt.ylabel('Misclassification Error')
# plt.show()

Concluímos que o menor erro em KNN será com CV = 10 e K = 7

In [58]:
# ALEX: remove ML code
# knn = KNeighborsClassifier(n_neighbors=7)

In [59]:
# ALEX: remove ML code
# knn.fit(Xtrain,Ytrain)

In [60]:
# ALEX: remove ML code
# scores = cross_val_score(knn, Xtrain, Ytrain, cv=10)
# scores

In [61]:
# ALEX: remove ML code
# YtestPred = knn.predict(Xtest)

In [62]:
# ALEX: remove ML code
# from sklearn.metrics import accuracy_score
# accuracy_score(Ytest,YtestPred)

In [63]:
FINALtest.insert(0,'Target',0.0)

In [64]:
FINALtest.dtypes

Target                    float64
refrig                      int64
computer                    int64
television                  int64
area1                       int64
overcrowding              float64
tamviv                      int64
hhsize                      int64
elec                      float64
water                       int64
sanit                       int64
cozinhar                    int64
walls+roof+floor            int64
rooms-per-capita          float64
rent-per-capita           float64
electronics-per-capita    float64
region                      int64
home_own                    int64
dis                         int64
female                      int64
rez_esc                   float64
inst/age                  float64
escolari/age              float64
tech                        int64
dtype: object

In [65]:
XFINALtest = FINALtest
# ALEX: remove ML code
# YFINALtestPred = knn.predict(XFINALtest)

In [66]:
# ALEX: remove ML code
# YFINALtestPred

In [67]:
pred = pd.DataFrame(submission_base)
# ALEX: remove ML code
# pred["Target"] = YFINALtestPred

In [68]:
pred.to_csv("prediction.csv", index=False)