In [ ]:
import os

def scale_input_data(scale_factor):
  file_bases = ['./input/used_cars_Pakistan']
  for file_base in file_bases:
    import pandas as pd
    import shutil
    if scale_factor == 1.0:
      shutil.copyfile(file_base + '.csv', file_base + '.scaled.csv')
      continue
    df_to_scale = pd.read_csv(file_base + '.csv')
    new_num_rows = int(scale_factor * len(df_to_scale))
    if scale_factor <= 1.0:
      df_to_scale = df_to_scale.iloc[:new_num_rows]
    else:
      while len(df_to_scale) < new_num_rows:
        df_to_scale = pd.concat([df_to_scale, df_to_scale[:min(new_num_rows - len(df_to_scale), len(df_to_scale))]])
    df_to_scale.to_csv(file_base + '.scaled.csv', index=False)

if 'INPUT_SCALE_FACTOR' in os.environ:
  scale_input_data(float(os.environ['INPUT_SCALE_FACTOR']))

In [1]:
# import pandas as pd
exec(os.environ['IREWR_IMPORTS'])
import numpy as np

# FIRST-AUTHOR: remove plotting code
# pd.plotting.register_matplotlib_converters()
# import matplotlib.pyplot as plt
# %matplotlib inline
# import seaborn as sns

In [2]:
data =  pd.read_csv('./input/used_cars_Pakistan.scaled.csv',index_col=0)
data

,make,model,city,year,mileage,Engine_displacement,Battery,Price_Rs
0,Suzuki,Alto,Lahore,2019,45744,660.0,NaN,3550000
1,Suzuki,Wagon,Lahore,2019,17583,660.0,NaN,3850000
2,Suzuki,Wagon,Lahore,2019,64085,660.0,NaN,3890000
3,Suzuki,Wagon,Lahore,2019,71281,660.0,NaN,3990000
4,Toyota,Aqua,Lahore,2020,19950,1500.0,NaN,3990000
...,...,...,...,...,...,...,...,...
86115,Suzuki,Bolan,Rawalpindi,2011,60000,800.0,NaN,985000
86116,Toyota,Hiace,Lahore,2009,300000,2700.0,NaN,3200000
86117,Suzuki,Bolan,Islamabad,2017,44740,800.0,NaN,1750000
86118,Toyota,Passo,Karachi,2010,94890,1000.0,NaN,2300000
86119,Suzuki,Cultus,Lahore,2008,60800,1000.0,NaN,990000

In [3]:
data.make.value_counts().head(10)

Toyota        28109
Suzuki        23672
Honda         18190
Daihatsu       3538
KIA            1992
Nissan         1750
Hyundai        1662
Mitsubishi     1179
Changan        1028
Mercedes        762
Name: make, dtype: int64

In [4]:
data.model.value_counts().head(10)

Corolla    13912
Civic       9179
City        5653
Mehran      4855
Cultus      4721
Alto        4668
Wagon       2530
Vitz        2115
Swift       1625
Yaris       1499
Name: model, dtype: int64

In [5]:
data.city.value_counts().head(10)

Lahore        19354
Karachi       16278
Islamabad     13105
Rawalpindi     6021
Peshawar       3835
Faisalabad     3167
Multan         2554
Gujranwala     2204
Sialkot        1419
Sargodha        935
Name: city, dtype: int64

In [6]:
data.year.value_counts().head(10)

2021    7097
2022    6814
2018    6079
2017    5135
2019    4624
2020    4499
2016    3865
2015    3861
2014    3574
2007    3452
Name: year, dtype: int64

In [7]:
data.Engine_displacement.value_counts().head(5)

1300.0    14399
1000.0    13431
1500.0     9657
1800.0     8759
660.0      8529
Name: Engine_displacement, dtype: int64

In [8]:
data.Battery.value_counts().head()

60.0     35
80.0     15
75.0     15
101.0    14
120.0    13
Name: Battery, dtype: int64

In [9]:
100*(len(data)-data.Battery.isnull().sum())/len(data)

0.2194612169066419

percent of electric vehicles is only 0.21%

In [10]:
data.Price_Rs.mean()

4173561.160961449

average price of car is 41 lakh

In [11]:
data.Price_Rs.median()

2800000.0

median value of car is 28 lakh