In [ ]:
import os

def scale_input_data(scale_factor):
  file_bases = ['./input/StudentsPerformance']
  for file_base in file_bases:
    import pandas as pd
    import shutil
    if scale_factor == 1.0:
      shutil.copyfile(file_base + '.csv', file_base + '.scaled.csv')
      continue
    df_to_scale = pd.read_csv(file_base + '.csv')
    new_num_rows = int(scale_factor * len(df_to_scale))
    if scale_factor <= 1.0:
      df_to_scale = df_to_scale.iloc[:new_num_rows]
    else:
      while len(df_to_scale) < new_num_rows:
        df_to_scale = pd.concat([df_to_scale, df_to_scale[:min(new_num_rows - len(df_to_scale), len(df_to_scale))]])
    df_to_scale.to_csv(file_base + '.scaled.csv', index=False)

if 'INPUT_SCALE_FACTOR' in os.environ:
  scale_input_data(float(os.environ['INPUT_SCALE_FACTOR']))

In [1]:
# import pandas as pd
exec(os.environ['IREWR_IMPORTS'])
sp = pd.read_csv("./input/StudentsPerformance.scaled.csv")
sp

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [2]:
sp.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
sp.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [4]:
print(sp)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]

In [5]:
# FIRST-AUTHOR: remove non Pandas code
# import datetime

# x = datetime.datetime.now()

In [6]:
# FIRST-AUTHOR: remove non Pandas code
# x

In [7]:
sp.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [8]:
sp.iloc[0:,6].dtype

dtype('int64')

In [9]:
scores = sp["math score"]
print(scores)
scores.head()

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

0    72
1    69
2    90
3    47
4    76
Name: math score, dtype: int64

In [10]:
scores.max()

100

In [11]:
sp.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [12]:
scores.head(10)

0    72
1    69
2    90
3    47
4    76
5    71
6    88
7    40
8    64
9    38
Name: math score, dtype: int64

In [13]:
sp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [14]:
All_scores = sp[["gender","reading score","math score","writing score"]]
All_scores

     gender  reading score  math score  writing score
0    female             72          72             74
1    female             90          69             88
2    female             95          90             93
3      male             57          47             44
4      male             78          76             75
..      ...            ...         ...            ...
995  female             99          88             95
996    male             55          62             55
997  female             71          59             65
998  female             78          68             77
999  female             86          77             86

[1000 rows x 4 columns]

In [15]:
All_scores.shape

(1000, 4)

In [16]:
math_passed = [sp["math score"]>=50]
math_passed

[0       True
 1       True
 2       True
 3      False
 4       True
        ...
 995     True
 996     True
 997     True
 998     True
 999     True
 Name: math score, Length: 1000, dtype: bool]

In [17]:
math_passed_genderwise = All_scores[All_scores["math score"]>=50]
math_passed_genderwise

     gender  reading score  math score  writing score
0    female             72          72             74
1    female             90          69             88
2    female             95          90             93
4      male             78          76             75
5    female             83          71             78
..      ...            ...         ...            ...
995  female             99          88             95
996    male             55          62             55
997  female             71          59             65
998  female             78          68             77
999  female             86          77             86

[865 rows x 4 columns]

In [18]:
failed = sp["math score"]<50
failed

0      False
1      False
2      False
3       True
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: math score, Length: 1000, dtype: bool

In [19]:
#Students who passed(>=50) in writing score, actually completed the test preparation course
course_completed = sp.loc[sp["writing score"]>=50,"test preparation course"]
course_completed
course_completed

0           none
1      completed
2           none
4           none
5           none
         ...
995    completed
996         none
997    completed
998    completed
999         none
Name: test preparation course, Length: 886, dtype: object

In [20]:
# FIRST-AUTHOR: remove plotting
# All_scores.plot()

In [21]:
# FIRST-AUTHOR: remove plotting
# All_scores["math score"].plot()
All_scores["math score"]

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [22]:
# FIRST-AUTHOR: remove plotting
# All_scores.plot.scatter(x="reading score",y="writing score",alpha=0.5)

In [23]:
# FIRST-AUTHOR: remove plotting
# sp.plot.box()

In [24]:
# FIRST-AUTHOR: remove plotting
# axs = sp.plot.area(figsize=(20,16),subplots = True)

In [25]:
# FIRST-AUTHOR: remove plotting
# import matplotlib.pyplot as plt
# fig, axs = plt.subplots(figsize=(20,16));

# sp.plot.area(ax=axs);

# axs.set_ylabel("Scores for different Subjects");

# fig.savefig("Scores.png")

**Image is saved in png format in output**

In [26]:
#Mean of math scores
sp["math score"].mean()

66.089

In [27]:
sp["writing score"].mean()

68.054

In [28]:
sp["reading score"].mean()

69.169

# Insight 1- 
Average score and plot shows that these students tend to be slightly better in reading and writing than math

In [29]:
sp[["math score","reading score","writing score"]].describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [30]:
sp.agg({'math score': ['min','mean','max', 'median', 'skew'],
             'writing score': ['min', 'max', 'median', 'mean','skew']})

        math score  writing score
min       0.000000      10.000000
mean     66.089000      68.054000
max     100.000000     100.000000
median   66.000000      69.000000
skew     -0.278935      -0.289444

# Aggregating statistics grouped by category

In [31]:
#Average math score for male and female comparison
sp[["gender","math score"]].groupby("gender").mean()

        math score
gender
female   63.633205
male     68.728216

# Insight 2: 
Male students seem to be better at maths than female students according to the data

In [32]:
sp[["test preparation course","math score","reading score","writing score"]].groupby("test preparation course").mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

# Insight 3 -
People who have completed test preparation course seem to have better scores than people who did not complete the course.

In [33]:
a = sp[["race/ethnicity","math score","reading score","writing score"]].groupby("race/ethnicity").mean()
a

                math score  reading score  writing score
race/ethnicity
group A          61.629213      64.674157      62.674157
group B          63.452632      67.352632      65.600000
group C          64.463950      69.103448      67.827586
group D          67.362595      70.030534      70.145038
group E          73.821429      73.028571      71.407143

In [34]:
# FIRST-AUTHOR: remove plotting
# a.plot()

# Insight - 4
Group E seems to be doing better than all other race/ethnic groups in all performance criterias

In [35]:
b = sp[["parental level of education","math score","reading score","writing score"]].groupby("parental level of education").mean()
b

                             math score  reading score  writing score
parental level of education
associate's degree            67.882883      70.927928      69.896396
bachelor's degree             69.389831      73.000000      73.381356
high school                   62.137755      64.704082      62.448980
master's degree               69.745763      75.372881      75.677966
some college                  67.128319      69.460177      68.840708
some high school              63.497207      66.938547      64.888268

In [36]:
# FIRST-AUTHOR: remove plotting
# b.plot(figsize=(20,16))

# Insight 5 - 
Parental level of education seem to have some effect on the student's performance. For example - students who have parents with master's degree shows better performance than others.

In [37]:
c = sp[["lunch","math score","reading score","writing score"]].groupby("lunch").mean()
c

              math score  reading score  writing score
lunch
free/reduced   58.921127      64.653521      63.022535
standard       70.034109      71.654264      70.823256

In [38]:
# FIRST-AUTHOR: remove plotting
# c.plot()

# Insight 6 - 
Those who did standard lunch performed better than students who did free or reduced lunch

# Count number of records by category

In [39]:
sp["gender"].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [40]:
sp["parental level of education"].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [41]:
sp["test preparation course"].value_counts()

none         642
completed    358
Name: test preparation course, dtype: int64

In [42]:
sp["lunch"].value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [43]:
sp["race/ethnicity"].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64