In [ ]:
import os

def scale_input_data(scale_factor):
  file_bases = ['./input/matching_results', './input/CrowdsCureCancer2017Annotations']
  for file_base in file_bases:
    import pandas as pd
    import shutil
    if scale_factor == 1.0:
      shutil.copyfile(file_base + '.csv', file_base + '.scaled.csv')
      continue
    df_to_scale = pd.read_csv(file_base + '.csv')
    new_num_rows = int(scale_factor * len(df_to_scale))
    if scale_factor <= 1.0:
      df_to_scale = df_to_scale.iloc[:new_num_rows]
    else:
      while len(df_to_scale) < new_num_rows:
        df_to_scale = pd.concat([df_to_scale, df_to_scale[:min(new_num_rows - len(df_to_scale), len(df_to_scale))]])
    df_to_scale.to_csv(file_base + '.scaled.csv', index=False)

if 'INPUT_SCALE_FACTOR' in os.environ:
  scale_input_data(float(os.environ['INPUT_SCALE_FACTOR']))

In [1]:
import os
# import pandas as pd
exec(os.environ['IREWR_IMPORTS'])
# FIRST-AUTHOR: remove plotting
# import seaborn as sns
# import matplotlib.pyplot as plt
import numpy as np
# FIRST-AUTHOR: remove extra dependencies
# from pydicom import read_file
# from matplotlib.collections import PatchCollection
# from matplotlib.patches import Rectangle, Circle
from IPython.display import display
# FIRST-AUTHOR: remove extra dependencies
# import networkx as nx
def create_graph_from_df(in_df, ):
# FIRST-AUTHOR: remove extra dependencies
#     g = nx.Graph()
    for _, c_row in in_df.iterrows():
#         g.add_edge(c_row['annotator_x'], c_row['annotator_y'], 
#                    weight = c_row['iou'], 
#                    label = '{:2.0f}%'.format(100*c_row['iou']))
        _ = c_row['annotator_x']
        _ = c_row['annotator_y'], 
        _ = c_row['iou'], 
        _ = 100*c_row['iou']
# FIRST-AUTHOR: remove extra dependencies
#     return g
# def show_graph(g, figsize = (20, 20)):
#     fig, ax1 = plt.subplots(1, 1, figsize = figsize)
#     ax1.axis('off')
#     edge_labels = nx.get_edge_attributes(g,'label')
#     n_pos = nx.spring_layout(g)
#     nx.draw_networkx(g, 
#                      pos=n_pos, 
#                      ax = ax1);
#     nx.draw_networkx_edge_labels(g, 
#                      pos=n_pos, 
#                      edge_labels = edge_labels,
#                      ax = ax1);
#     return fig
base_csv_dir = './input/'
base_dcm_dir = './input/'

In [2]:
annot_df = pd.read_csv(os.path.join(base_csv_dir, 'matching_results.scaled.csv'), index_col = 0)
# remove duplicates
single_annot_df = annot_df[annot_df['annotator_x']<annot_df['annotator_y']].copy()
print(single_annot_df.shape[0], annot_df.shape[0])
annot_df.sample(3)

5210 10420

,anatomy,seriesUID,annotator_x,annotator_y,iou
425,Renal,1.3.6.1.4.1.14519.5.2.1.8421.4004.187310743962...,competent_hawk,immaculate_oyster,0.522557
11284,Ovarian,1.3.6.1.4.1.14519.5.2.1.6450.4007.336565074650...,novel_hummingbird,impish_cat,0.000000
9734,Renal,1.3.6.1.4.1.14519.5.2.1.1357.4004.116304079630...,flippant_beaver,rubbery_hamster,0.521273

# Overview
We could make a simple rule for filtering cases by selecting only annotations where two readers have an IOU of over 0.8. 
We want to look at the agreement on lesions and how many lesions overlap well.

In [3]:
grp_df = single_annot_df.groupby(['anatomy', 'seriesUID'])
for _, (c_group, c_df) in zip(range(1), grp_df):
    # get the first group
    print(c_group)
    display(c_df)
    pass

('Liver', '1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145958292789896133590')

,anatomy,seriesUID,annotator_x,annotator_y,iou
4103,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,canine_bear,flippant_beaver,0.543232
4104,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,canine_bear,fresh_alligator,0.000000
4105,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,canine_bear,misty_mandrill,0.190447
4106,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,canine_bear,tepid_dunlin,0.000000
4107,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,canine_bear,urban_dunlin,0.000000
4108,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,canine_bear,wee_bear,0.615047
4111,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,flippant_beaver,fresh_alligator,0.000000
4112,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,flippant_beaver,misty_mandrill,0.240169
4113,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,flippant_beaver,tepid_dunlin,0.000000
4114,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,flippant_beaver,urban_dunlin,0.000000
4115,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,flippant_beaver,wee_bear,0.573934
4119,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,fresh_alligator,misty_mandrill,0.000000
4120,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,fresh_alligator,tepid_dunlin,0.000000
4121,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,fresh_alligator,urban_dunlin,0.000000
4122,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,fresh_alligator,wee_bear,0.000000
4127,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,misty_mandrill,tepid_dunlin,0.000000
4128,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,misty_mandrill,urban_dunlin,0.000000
4129,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,misty_mandrill,wee_bear,0.193044
4135,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,tepid_dunlin,urban_dunlin,0.696662
4136,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,tepid_dunlin,wee_bear,0.000000
4143,Liver,1.3.6.1.4.1.14519.5.2.1.1079.4008.114832936145...,urban_dunlin,wee_bear,0.000000

# Graphs
We can make a graph of the various annotators for this case and the scores showing their comparative similarity. The more similar ones are closer together and the intersection over union is shown as a percentage

In [4]:
g = create_graph_from_df(c_df)
# FIRST-AUTHOR: remove extra dependencies
# show_graph(g);

# Show Graph for an Organ
Here we can show the graphs for all annotations for a specific organ like liver

In [5]:
g = create_graph_from_df(single_annot_df.query('anatomy == "Liver"'))
# FIRST-AUTHOR: remove extra dependencies
# show_graph(g, figsize = (40, 40));

In [6]:
g = create_graph_from_df(single_annot_df.query('anatomy == "Ovarian"'))
# FIRST-AUTHOR: remove extra dependencies
# show_graph(g, figsize = (40, 40));

# Show a Summary for All Annotators
We make it easier by aggregating over multiple organs/annotations

In [7]:
avg_annot_df = single_annot_df.groupby(['annotator_x', 'annotator_y']).agg({'iou': 'mean', 'seriesUID': 'count'}).reset_index()
avg_annot_df.sample(2)

           annotator_x   annotator_y       iou  seriesUID
683   informal_panther     pink_mole  0.147872          8
1006    poised_vulture  taut_ostrich  0.000000          1

In [8]:
g = create_graph_from_df(avg_annot_df)
# FIRST-AUTHOR: remove extra dependencies
# show_graph(g, figsize = (40, 40));

# Remove the Worst
The very worst are easy to remove, those who never have any overlap with anyone, since there is no way we could trust their results (we have nothing to compare them to).

In [9]:
worst_annot_df = annot_df.groupby('annotator_x').agg({'iou': 'max', 'seriesUID': 'count'}).reset_index().sort_values('iou').query('iou<1e-3')
worst_annot = worst_annot_df['annotator_x'].values
print(worst_annot.shape[0])
worst_annot_df

25

                annotator_x           iou  seriesUID
69   intentional_rhinoceros  0.000000e+00          4
31     defenseless_starling  0.000000e+00          5
152             tame_coyote  0.000000e+00         20
155            taut_ostrich  0.000000e+00          6
85      miserable_kookabura  0.000000e+00          9
10      beneficial_stingray  0.000000e+00          3
87              misty_snail  0.000000e+00          4
25       constant_cockroach  0.000000e+00          4
163          uncommon_shark  0.000000e+00         10
53          grubby_seahorse  0.000000e+00          3
89           moral_goldfish  0.000000e+00          4
47          fresh_alligator  0.000000e+00          6
173          warped_opossum  0.000000e+00          8
65           immense_coyote  0.000000e+00          5
174         watery_anteater  0.000000e+00          3
105    passionate_cormorant  0.000000e+00          5
145      spiteful_armadillo  0.000000e+00          3
49               green_ibex  6.241337e-13          5
140             soft_salmon  1.583595e-10         10
57          honorable_eland  1.014959e-07          5
147           steel_lapwing  3.175355e-07         20
5         alarmed_alligator  1.483175e-05          3
34            delirious_fox  1.143742e-04          8
21        colorful_kangaroo  5.153686e-04          5
88          modern_squirrel  9.471175e-04          7

In [10]:
clean_annot_df = single_annot_df[~(single_annot_df['annotator_x'].isin(worst_annot) | (single_annot_df['annotator_x'].isin(worst_annot)))]
clean_full_annot_df = annot_df[~(annot_df['annotator_x'].isin(worst_annot) | (annot_df['annotator_x'].isin(worst_annot)))]
print(single_annot_df.shape[0], '->', clean_annot_df.shape[0])

5210 -> 5147

# How many annotations per patient?
Here we calculate the number of annotations per patient

In [11]:
# FIRST-AUTHOR: remove plotting
# clean_full_annot_df.groupby(
#     ['anatomy', 'seriesUID']).agg(
#     {'iou': 'mean', 'annotator_x': 'count'}).reset_index().sort_values(
#     'annotator_x', ascending = False)['annotator_x'].hist()
clean_full_annot_df.groupby(
    ['anatomy', 'seriesUID']).agg(
    {'iou': 'mean', 'annotator_x': 'count'}).reset_index().sort_values(
    'annotator_x', ascending = False)['annotator_x']

64     42
61     42
45     42
46     42
47     42
       ..
173     9
143     9
157     9
125     9
105     1
Name: annotator_x, Length: 443, dtype: int64

# Agreeing Annotations
We can define a certain threshold for agreement

In [12]:
filt_annot = lambda cut_off: clean_full_annot_df.query('iou>{}'.format(cut_off)).groupby(['anatomy', 'seriesUID']).agg({'iou': 'mean', 'annotator_x': 'count'}).reset_index().sort_values('annotator_x', ascending = False)
cut_off = np.linspace(15, 100, 10, dtype = int)[:-1]
out_df_list = []
for n_cut_off in cut_off:
    c_df = filt_annot(n_cut_off/100.0)
    c_df['cutoff'] = n_cut_off
    out_df_list += [c_df]
out_df = pd.concat(out_df_list)

In [13]:
# FIRST-AUTHOR: remove plotting
# import seaborn as sns
# sns.factorplot(x = 'cutoff', 
#                y = 'annotator_x', 
#                hue = 'anatomy', 
#                data = out_df,
#                kind = 'swarm',
#               size = 6)

In [14]:
# FIRST-AUTHOR: remove plotting
# sns.factorplot(x = 'cutoff', 
#                y = 'annotator_x', 
#                hue = 'anatomy', 
#                data = out_df,
#                kind = 'violin',
#                col = 'anatomy',
#                col_wrap = 2,
#               size = 8)

In [15]:
all_df_out = []
for annot_per_case in range(2, 10):
    c_df = out_df.query('annotator_x>={}'.format(annot_per_case)).groupby(['cutoff','anatomy']).apply(lambda c_rows: pd.Series({'total_annotations': np.sum(c_rows['annotator_x']),
                                                                     'total_cases': np.unique(c_rows['seriesUID']).shape[0]
                                                                                   })).reset_index()
    c_df['annot_per_case_cutoff'] = annot_per_case
    all_df_out += [c_df]
all_df = pd.concat(all_df_out)

/tmp/ipykernel_1139578/2317318479.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  c_df = out_df.query('annotator_x>={}'.format(annot_per_case)).groupby(['cutoff','anatomy']).apply(lambda c_rows: pd.Series({'total_annotations': np.sum(c_rows['annotator_x']),
/tmp/ipykernel_1139578/2317318479.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  c_df = out_df.query('annotator_x>={}'.format(annot_per_case)).groupby(['cutoff','anatomy']).apply(lambda c_rows: pd.Series({'total_annotations': np.sum(c_rows['annotator_x']),
/tmp/ipykernel_1139578/2317318479.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  c_df = out_df.query('annotator_x>={}'.format(annot_per_case)).groupby(['cutoff','anatomy']).apply(lambda c_rows: pd.Series({'total_annotations': np.sum(c_rows['annotator_x']),
/tmp/ipykernel_1139578/2317318479.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  c_df = out_df.query('annotator_x>={}'.format(annot_per_case)).groupby(['cutoff','anatomy']).apply(lambda c_rows: pd.Series({'total_annotations': np.sum(c_rows['annotator_x']),
/tmp/ipykernel_1139578/2317318479.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  c_df = out_df.query('annotator_x>={}'.format(annot_per_case)).groupby(['cutoff','anatomy']).apply(lambda c_rows: pd.Series({'total_annotations': np.sum(c_rows['annotator_x']),
/tmp/ipykernel_1139578/2317318479.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  c_df = out_df.query('annotator_x>={}'.format(annot_per_case)).groupby(['cutoff','anatomy']).apply(lambda c_rows: pd.Series({'total_annotations': np.sum(c_rows['annotator_x']),
/tmp/ipykernel_1139578/2317318479.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  c_df = out_df.query('annotator_x>={}'.format(annot_per_case)).groupby(['cutoff','anatomy']).apply(lambda c_rows: pd.Series({'total_annotations': np.sum(c_rows['annotator_x']),
/tmp/ipykernel_1139578/2317318479.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  c_df = out_df.query('annotator_x>={}'.format(annot_per_case)).groupby(['cutoff','anatomy']).apply(lambda c_rows: pd.Series({'total_annotations': np.sum(c_rows['annotator_x']),

In [16]:
# FIRST-AUTHOR: remove plotting
# sns.factorplot(x = 'annot_per_case_cutoff', 
#                y = 'total_cases', 
#                hue = 'cutoff', 
#                data = all_df,
#                col = 'anatomy',
#                col_wrap = 2,
#                sharey = False,
#               size = 8)

In [17]:
# FIRST-AUTHOR: remove plotting
# sns.factorplot(x = 'annot_per_case_cutoff', 
#                y = 'total_cases', 
#                hue = 'anatomy', 
#                data = all_df,
#                col = 'cutoff',
#                col_wrap = 3,
#                sharey = False,
#               size = 8)

In [18]:
total_annotation_count = {k['anatomy']: (k['count'], k['cases'])
                                         for k in pd.read_csv('./input/CrowdsCureCancer2017Annotations.scaled.csv').groupby(
    'anatomy').apply(lambda x: pd.Series(
    {'count': x.shape[0], 'cases': np.unique(x['seriesUID']).shape[0]})).reset_index().T.to_dict().values()}
total_annotation_count

/tmp/ipykernel_1139578/1602357311.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  'anatomy').apply(lambda x: pd.Series(

{'Liver': (258, 44),
 'Lung': (368, 56),
 'Ovarian': (437, 106),
 'Renal': (1282, 237)}

In [19]:
# FIRST-AUTHOR: remove plotting
# fig, m_axs = plt.subplots(2, 2, figsize = (20, 20))
# for (c_organ, c_df), ax1 in zip(all_df.groupby('anatomy'), m_axs.flatten()):
for c_organ, c_df in all_df.groupby('anatomy'):
    X, x_vals = c_df['annot_per_case_cutoff'].factorize()
    Y, y_vals = c_df['cutoff'].factorize()
    c_mat = np.zeros((X.max()+1, Y.max()+1), dtype = 'int')
    c_mat[X, Y] = c_df['total_cases'].values.astype(int)
# FIRST-AUTHOR: remove plotting
#     ax1 = sns.heatmap(c_mat.T, annot = True, fmt = 'd', ax = ax1)
#     ax1.set_xticklabels(x_vals)
#     ax1.set_yticklabels(y_vals)
#     ax1.set_xlabel('Annotations Per Case')
#     ax1.set_ylabel('Minimum Agreement (DICE %)')
#     ax1.set_title('{0}: Patients: {2}, Annotations: {1}'.format(c_organ, *total_annotation_count[c_organ]))
    _ = c_mat.T
    _ = total_annotation_count[c_organ]