In [ ]:
import os

def scale_input_data(scale_factor):
  file_bases = ['./input/Mass Shootings Dataset Ver 5']
  for file_base in file_bases:
    import pandas as pd
    import shutil
    if scale_factor == 1.0:
      shutil.copyfile(file_base + '.csv', file_base + '.scaled.csv')
      continue
    df_to_scale = pd.read_csv(file_base + '.csv', encoding='ISO-8859-1')
    new_num_rows = int(scale_factor * len(df_to_scale))
    if scale_factor <= 1.0:
      df_to_scale = df_to_scale.iloc[:new_num_rows]
    else:
      while len(df_to_scale) < new_num_rows:
        df_to_scale = pd.concat([df_to_scale, df_to_scale[:min(new_num_rows - len(df_to_scale), len(df_to_scale))]])
    df_to_scale.to_csv(file_base + '.scaled.csv', index=False, encoding='ISO-8859-1')

if 'INPUT_SCALE_FACTOR' in os.environ:
  scale_input_data(float(os.environ['INPUT_SCALE_FACTOR']))

In [1]:
# import packages 
# FIRST-AUTHOR: remove plotting
# %matplotlib inline
import numpy as np
# import pandas as pd
exec(os.environ['IREWR_IMPORTS'])
# FIRST-AUTHOR: remove plotting
# import datetime
# import matplotlib.pyplot as plt
# import matplotlib.ticker as ticker
# import matplotlib.dates as mdates
# from sklearn import linear_model

## USA Population Data

In [2]:
# create dataframe with USA population data
# http://www.multpl.com/united-states-population/table
pop_dict = {'date': {pd.Timestamp('1966-01-01'): pd.Timestamp('1966-01-01'),
  pd.Timestamp('1967-01-01'): pd.Timestamp('1967-01-01'),
  pd.Timestamp('1968-01-01'): pd.Timestamp('1968-01-01'),
  pd.Timestamp('1969-01-01'): pd.Timestamp('1969-01-01'),
  pd.Timestamp('1970-01-01'): pd.Timestamp('1970-01-01'),
  pd.Timestamp('1971-01-01'): pd.Timestamp('1971-01-01'),
  pd.Timestamp('1972-01-01'): pd.Timestamp('1972-01-01'),
  pd.Timestamp('1973-01-01'): pd.Timestamp('1973-01-01'),
  pd.Timestamp('1974-01-01'): pd.Timestamp('1974-01-01'),
  pd.Timestamp('1975-01-01'): pd.Timestamp('1975-01-01'),
  pd.Timestamp('1976-01-01'): pd.Timestamp('1976-01-01'),
  pd.Timestamp('1977-01-01'): pd.Timestamp('1977-01-01'),
  pd.Timestamp('1978-01-01'): pd.Timestamp('1978-01-01'),
  pd.Timestamp('1979-01-01'): pd.Timestamp('1979-01-01'),
  pd.Timestamp('1980-01-01'): pd.Timestamp('1980-01-01'),
  pd.Timestamp('1981-01-01'): pd.Timestamp('1981-01-01'),
  pd.Timestamp('1982-01-01'): pd.Timestamp('1982-01-01'),
  pd.Timestamp('1983-01-01'): pd.Timestamp('1983-01-01'),
  pd.Timestamp('1984-01-01'): pd.Timestamp('1984-01-01'),
  pd.Timestamp('1985-01-01'): pd.Timestamp('1985-01-01'),
  pd.Timestamp('1986-01-01'): pd.Timestamp('1986-01-01'),
  pd.Timestamp('1987-01-01'): pd.Timestamp('1987-01-01'),
  pd.Timestamp('1988-01-01'): pd.Timestamp('1988-01-01'),
  pd.Timestamp('1989-01-01'): pd.Timestamp('1989-01-01'),
  pd.Timestamp('1990-01-01'): pd.Timestamp('1990-01-01'),
  pd.Timestamp('1991-01-01'): pd.Timestamp('1991-01-01'),
  pd.Timestamp('1992-01-01'): pd.Timestamp('1992-01-01'),
  pd.Timestamp('1993-01-01'): pd.Timestamp('1993-01-01'),
  pd.Timestamp('1994-01-01'): pd.Timestamp('1994-01-01'),
  pd.Timestamp('1995-01-01'): pd.Timestamp('1995-01-01'),
  pd.Timestamp('1996-01-01'): pd.Timestamp('1996-01-01'),
  pd.Timestamp('1997-01-01'): pd.Timestamp('1997-01-01'),
  pd.Timestamp('1998-01-01'): pd.Timestamp('1998-01-01'),
  pd.Timestamp('1999-01-01'): pd.Timestamp('1999-01-01'),
  pd.Timestamp('2000-01-01'): pd.Timestamp('2000-01-01'),
  pd.Timestamp('2001-01-01'): pd.Timestamp('2001-01-01'),
  pd.Timestamp('2002-01-01'): pd.Timestamp('2002-01-01'),
  pd.Timestamp('2003-01-01'): pd.Timestamp('2003-01-01'),
  pd.Timestamp('2004-01-01'): pd.Timestamp('2004-01-01'),
  pd.Timestamp('2005-01-01'): pd.Timestamp('2005-01-01'),
  pd.Timestamp('2006-01-01'): pd.Timestamp('2006-01-01'),
  pd.Timestamp('2007-01-01'): pd.Timestamp('2007-01-01'),
  pd.Timestamp('2008-01-01'): pd.Timestamp('2008-01-01'),
  pd.Timestamp('2009-01-01'): pd.Timestamp('2009-01-01'),
  pd.Timestamp('2010-01-01'): pd.Timestamp('2010-01-01'),
  pd.Timestamp('2011-01-01'): pd.Timestamp('2011-01-01'),
  pd.Timestamp('2012-01-01'): pd.Timestamp('2012-01-01'),
  pd.Timestamp('2013-01-01'): pd.Timestamp('2013-01-01'),
  pd.Timestamp('2014-01-01'): pd.Timestamp('2014-01-01'),
  pd.Timestamp('2015-01-01'): pd.Timestamp('2015-01-01'),
  pd.Timestamp('2016-01-01'): pd.Timestamp('2016-01-01'),
  pd.Timestamp('2017-01-01'): pd.Timestamp('2017-01-01')},
 'population': {pd.Timestamp('1966-01-01 00:00:00'): 196.56,
  pd.Timestamp('1967-01-01'): 198.7,
  pd.Timestamp('1968-01-01'): 200.7,
  pd.Timestamp('1969-01-01'): 202.6,
  pd.Timestamp('1970-01-01'): 205.0,
  pd.Timestamp('1971-01-01'): 207.66,
  pd.Timestamp('1972-01-01'): 209.9,
  pd.Timestamp('1973-01-01'): 211.9,
  pd.Timestamp('1974-01-01'): 213.8,
  pd.Timestamp('1975-01-01'): 215.9,
  pd.Timestamp('1976-01-01'): 218.0,
  pd.Timestamp('1977-01-01'): 220.2,
  pd.Timestamp('1978-01-01'): 222.5,
  pd.Timestamp('1979-01-01'): 225.0,
  pd.Timestamp('1980-01-01'): 227.2,
  pd.Timestamp('1981-01-01'): 229.4,
  pd.Timestamp('1982-01-01'): 231.6,
  pd.Timestamp('1983-01-01'): 233.7,
  pd.Timestamp('1984-01-01'): 235.8,
  pd.Timestamp('1985-01-01'): 237.9,
  pd.Timestamp('1986-01-01'): 240.1,
  pd.Timestamp('1987-01-01'): 242.2,
  pd.Timestamp('1988-01-01'): 244.5,
  pd.Timestamp('1989-01-01'): 246.8,
  pd.Timestamp('1990-01-01'): 249.6,
  pd.Timestamp('1991-01-01'): 252.9,
  pd.Timestamp('1992-01-01'): 256.5,
  pd.Timestamp('1993-01-01'): 259.9,
  pd.Timestamp('1994-01-01'): 263.1,
  pd.Timestamp('1995-01-01'): 266.2,
  pd.Timestamp('1996-01-01'): 269.3,
  pd.Timestamp('1997-01-01'): 272.6,
  pd.Timestamp('1998-01-01'): 275.8,
  pd.Timestamp('1999-01-01'): 279.0,
  pd.Timestamp('2000-01-01'): 282.1,
  pd.Timestamp('2001-01-01'): 284.9,
  pd.Timestamp('2002-01-01'): 287.6,
  pd.Timestamp('2003-01-01'): 290.1,
  pd.Timestamp('2004-01-01'): 292.8,
  pd.Timestamp('2005-01-01'): 295.5,
  pd.Timestamp('2006-01-01'): 298.3,
  pd.Timestamp('2007-01-01'): 301.2,
  pd.Timestamp('2008-01-01'): 304.0,
  pd.Timestamp('2009-01-01'): 306.7,
  pd.Timestamp('2010-01-01'): 309.3,
  pd.Timestamp('2011-01-01'): 311.6,
  pd.Timestamp('2012-01-01'): 314.0,
  pd.Timestamp('2013-01-01'): 316.1,
  pd.Timestamp('2014-01-01'): 318.5,
  pd.Timestamp('2015-01-01'): 320.8,
  pd.Timestamp('2016-01-01'): 323.1,
  pd.Timestamp('2017-01-01'): 325.3}}
df_pop = pd.DataFrame(pop_dict)
df_pop.columns = ['date','population']
df_pop.date = pd.to_datetime(df_pop.date)
# set dataframe index to Date colume
df_pop.index = df_pop.date

## Read mass shooting data into pandas dataframe

In [3]:
# read mass shootings dataset into pandas dataframe
df = pd.read_csv('./input/Mass Shootings Dataset Ver 5.scaled.csv',encoding = "ISO-8859-1")
# convert Date colume to datetime format
df.Date = pd.to_datetime(df.Date)
# set dataframe index to Date colume
df.index = df.Date
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 323 entries, 2017-11-05 to 1966-08-01
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   S#                    323 non-null    int64
 1   Title                 323 non-null    object
 2   Location              278 non-null    object
 3   Date                  323 non-null    datetime64[ns]
 4   Incident Area         261 non-null    object
 5   Open/Close Location   295 non-null    object
 6   Target                318 non-null    object
 7   Cause                 246 non-null    object
 8   Summary               323 non-null    object
 9   Fatalities            323 non-null    int64
 10  Injured               323 non-null    int64
 11  Total victims         323 non-null    int64
 12  Policeman Killed      317 non-null    float64
 13  Age                   179 non-null    object
 14  Employeed (Y/N)       67 non-null     float64
 15  Employed at           41 non-null     object
 16  Mental Health Issues  323 non-null    object
 17  Race                  321 non-null    object
 18  Gender                323 non-null    object
 19  Latitude              303 non-null    float64
 20  Longitude             303 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(12)
memory usage: 55.5+ KB

In [4]:
# make a date series for ploting, freq = AS to start at left end of intervals
date = pd.date_range(start='1966-01-01', end='2017-01-01', freq='AS')
# ratio for figure size argument
ratio = (10,6)

## Calculate Number of Attacks each Year

In [5]:
# analysis for yearly attack counts
# FIRST-AUTHOR: remove plotting
# plt.close('all')
# fig,ax = plt.subplots(figsize=ratio)
# ax.plot(date,df.Fatalities.resample('AS').count().fillna(0),'-o')
# # set xaxis major labels
# ax.xaxis.set_major_locator(mdates.YearLocator(5,month=1,day=1))
# ax.xaxis.set_major_formatter(mdates.DateFormatter("%Y"))
# # set grid lines
# ax.xaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.xaxis.grid(True,'major') # turn on major tic grid lines;
# ax.yaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.yaxis.grid(True,'major') # turn on major tic grid lines;
# plt.xlabel('Year')
# plt.ylabel('Number Attacks');
# plt.title('Number Attacks by Year');
_ = df.Fatalities.resample('AS').count().fillna(0)

 Looks like a gradual trend of increased attacks until about 2000. Then from 2000 to 2014, the attack curve slope is increased.  Then after 2014 slope of attack curve is sharply increased until 2016. Even though the data for 2017 is not complete it does not appear to fit the trend.

## Calculate Attacks per Million People for each Year

In [6]:
# attacks per million population
pop = df_pop.population
count = df.Fatalities.resample('AS').count().fillna(0)
count_pop = count / pop
# FIRST-AUTHOR: remove plotting
# plt.close('all')
# fig,ax = plt.subplots(figsize=ratio)
date2 = pd.date_range(start='1966-01-01', end='2017-01-01', freq='AS')
# FIRST-AUTHOR: remove plotting
# ax.plot(date2,count_pop,'-o')
# # major labels
# ax.xaxis.set_major_locator(mdates.YearLocator(5,month=1,day=1))
# ax.xaxis.set_major_formatter(mdates.DateFormatter("%Y"))
# # grid lines
# ax.xaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.xaxis.grid(True,'major') # turn on major tic grid lines;
# ax.yaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.yaxis.grid(True,'major') # turn on major tic grid lines;
# plt.xlabel('Year')
# plt.ylabel('Attacks per Million');
# plt.title('Attacks per Million People');

 Looks like a gradual trend of increased probability of being a victim of a mass shooting until about 2000. Then from 2000 to 2014, the probability curve slope is increased.  Then after 2014 slope of probability curve is sharply increased until 2016. Even though the data for 2017 is not complete it does not appear to fit the trend.

## Attacks  by rolling  5 Year Time Windows

In [7]:
# Attacks Rolling Average 5 Year Windows
# FIRST-AUTHOR: remove plotting
# plt.close('all')
# fig,ax = plt.subplots(figsize=ratio)
c = df.Fatalities.resample("AS").count().fillna(0).rolling(window=5, min_periods=5).sum()
# FIRST-AUTHOR: remove plotting
# ax.plot(c.index,c,'-o')
# # major labels
# ax.xaxis.set_major_locator(mdates.YearLocator(5,month=1,day=1))
# ax.xaxis.set_major_formatter(mdates.DateFormatter("%Y"))
# # grid lines
# ax.xaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.xaxis.grid(True,'major') # turn on major tic grid lines;
# ax.yaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.yaxis.grid(True,'major') # turn on major tic grid lines;
# plt.xlabel('5 Year Window End Point')
# plt.ylabel('Attacks');
# plt.title('Attacks for Rolling 5 Year Window');
_ = c.index

The smoothed attack curve shows a gradually increasing trend in the number attacks up to about 1995. Then a slight dip down to a minimum at 2005 followed by an increased positive slope until 2014.  After 2014 there is a sharp change in positive slope for 2015 and 2016. Even though the data for 2017 is not complete it does not appear to fit the trend.

## Attacks per Year per Million Population for Rolling  5 Year Windows

In [8]:
# Attacks per Year per Million Population for Rolling 5 Year Windows
# FIRST-AUTHOR: remove plotting
# plt.close('all')
# fig,ax = plt.subplots(figsize=ratio)
#date2 = pd.date_range(start='1966-01-01', end='2017-01-01', freq='AS')
date2 = pd.date_range(start='1970-01-01', end='2021-01-01', freq='AS')
s = df.Fatalities.resample("AS").count().fillna(0).rolling(window=5, min_periods=5).mean()
p = df_pop.population.rolling(window=5, min_periods=5).mean()
sp = s/p
# FIRST-AUTHOR: remove plotting
# ax.plot(sp.index,s/p,'-o')
# # major labels
# ax.xaxis.set_major_locator(mdates.YearLocator(5,month=1,day=1))
# ax.xaxis.set_major_formatter(mdates.DateFormatter("%Y"))
# # grid lines
# ax.xaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.xaxis.grid(True,'major') # turn on major tic grid lines;
# ax.yaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.yaxis.grid(True,'major') # turn on major tic grid lines;
# plt.xlabel('end of 5 Year segment')
# plt.ylabel('Attacks per Year per Million Population');
# plt.title('Attacks per Year per Million Population for Rolling 5 Year Windows');
_ = sp.index
_ = s/p

The smoothed probability curve shows a gradually increasing trend in the number attacks up to about 1995. Then a slight dip down to a minimum at 2005 followed by an increased positive slope until 2014.  After 2014 there is a sharp change in positive slope for 2015 and 2016. Even though the data for 2017 is not complete it does not appear to fit the trend.

## Fatalities by Year

In [9]:
# analysis for yearly fatalities
# FIRST-AUTHOR: remove plotting
# plt.close('all')
# fig,ax = plt.subplots(figsize=ratio)
# ax.plot(date,df.Fatalities.resample('AS').sum().fillna(0),'-o')
# # set major xaxis labels
# ax.xaxis.set_major_locator(mdates.YearLocator(5,month=1,day=1))
# ax.xaxis.set_major_formatter(mdates.DateFormatter("%Y"))
# # set grid lines
# ax.xaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.xaxis.grid(True,'major') # turn on major tic grid lines;
# ax.yaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.yaxis.grid(True,'major') # turn on major tic grid lines;
# plt.xlabel('Year')
# plt.ylabel('Fatalities');
# plt.title('Fatalities per Year');
_ = df.Fatalities.resample('AS').sum().fillna(0)

Looks like a gradual upward trend in fatalities up to 2005. Then the fatalities curve slope increases up to 2014.  After 2014 there is a very steep increase in the slope until 2016. Even though the data for 2017 is not complete it does not appear to fit the trend.

## Fatalities per Attack by Year

In [10]:
# analysis fatalities per shooting by year
# FIRST-AUTHOR: remove plotting
# plt.close('all')
# fig,ax = plt.subplots(figsize=ratio)
# ax.plot(date,df.Fatalities.resample('AS').mean().fillna(0),'-o')
# # major labels
# ax.xaxis.set_major_locator(mdates.YearLocator(5,month=1,day=1))
# ax.xaxis.set_major_formatter(mdates.DateFormatter("%Y"))
# # grid lines
# ax.xaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.xaxis.grid(True,'major') # turn on major tic grid lines;
# ax.yaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.yaxis.grid(True,'major') # turn on major tic grid lines;
# plt.xlabel('Year')
# plt.ylabel('Fatalities per Attack');
# plt.title('Fatalities per Attack by Year');
_ = df.Fatalities.resample('AS').mean().fillna(0)

There may be a very slight increase in now deadly each attack is on average.

## Fatalities per Attack by rolling  5 Year Time Windows

In [11]:
# Fatalities per Year Rolling Average 5 Year Windows
# FIRST-AUTHOR: remove plotting
# plt.close('all')
# fig,ax = plt.subplots(figsize=ratio)
f = df.Fatalities.resample("AS").sum().fillna(0).rolling(window=5, min_periods=5).sum()
c = df.Fatalities.resample("AS").count().fillna(0).rolling(window=5, min_periods=5).sum()
# FIRST-AUTHOR: remove plotting
# ax.plot(f.index,f/c,'-o')
# # major labels
# ax.xaxis.set_major_locator(mdates.YearLocator(5,month=1,day=1))
# ax.xaxis.set_major_formatter(mdates.DateFormatter("%Y"))
# # grid lines
# ax.xaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.xaxis.grid(True,'major') # turn on major tic grid lines;
# ax.yaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.yaxis.grid(True,'major') # turn on major tic grid lines;
# plt.xlabel('5 Year Window End Point')
# plt.ylabel('Fatalities per Shooting');
# plt.title('Fatalities per Shooting for Rolling 5 Year Window');
_ = f.index
_ = f/c

Smoothing with the sliding 5-year window does not show any obvious longterm trend in now deadly each attack is on average.

## Fatalities per Million People in Population by Year

In [12]:
# Fatalities per Million People in Population by Year
pop = df_pop.population
sum = df.Fatalities.resample('AS').sum().fillna(0)
sum_pop = sum / pop
# FIRST-AUTHOR: remove plotting
# plt.close('all')
# fig,ax = plt.subplots(figsize=ratio)
date2 = pd.date_range(start='1966-01-01', end='2017-01-01', freq='AS')
# FIRST-AUTHOR: remove plotting
# ax.plot(date2,sum_pop,'-o')
# # major labels
# ax.xaxis.set_major_locator(mdates.YearLocator(5,month=1,day=1))
# ax.xaxis.set_major_formatter(mdates.DateFormatter("%Y"))
# # grid lines
# ax.xaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.xaxis.grid(True,'major') # turn on major tic grid lines;
# ax.yaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.yaxis.grid(True,'major') # turn on major tic grid lines;
# plt.xlabel('Year')
# plt.ylabel('Fatalities per Million');
# plt.title('Fatalities per Million People in Population by Year');

Looks like a gradual trend of increased fatalities per million until about 2000. Then from 2000 to 2014, the fatalities per million curve slope is increased.  Then after 2014 slope of the curve is sharply increased until 2016. Even though the data for 2017 is not complete it does not appear to fit the trend.

## Fatalities per Year for Rolling  5 Year Windows

In [13]:
# Fatalities per Year for Rolling 5 Year Windows
# FIRST-AUTHOR: remove plotting
# plt.close('all')
# fig,ax = plt.subplots(figsize=ratio)
s = df.Fatalities.resample("AS").sum().fillna(0).rolling(window=5, min_periods=5).mean()
# FIRST-AUTHOR: remove plotting
# ax.plot(s.index,s,'-o')
# # major labels
# ax.xaxis.set_major_locator(mdates.YearLocator(5,month=1,day=1))
# ax.xaxis.set_major_formatter(mdates.DateFormatter("%Y"))
# # grid lines
# ax.xaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.xaxis.grid(True,'major') # turn on major tic grid lines;
# ax.yaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.yaxis.grid(True,'major') # turn on major tic grid lines;
# plt.xlabel('end of 5 Year segment')
# plt.ylabel('Fatalities per Year');
# plt.title('Fatalities per Year for Rolling 5 Year Windows');
_ = s.index

Looks like a gradual trend in the fatalities up to about 1995. Then a approximatelly flat curve to 2005 followed by an increased positive slope until 2014.  After 2014 there is a sharp change in positive slope for 2015 and 2016. Even though the data for 2017 is not complete it does not appear to fit the trend.

## Fatalities per Year per Million Population for Rolling  5 Year Windows

In [14]:
# Fatalities per Year for Rolling 5 Year Windows
# FIRST-AUTHOR: remove plotting
# plt.close('all')
# fig,ax = plt.subplots(figsize=ratio)
#date2 = pd.date_range(start='1966-01-01', end='2017-01-01', freq='AS')
date2 = pd.date_range(start='1970-01-01', end='2021-01-01', freq='AS')
s = df.Fatalities.resample("AS").sum().fillna(0).rolling(window=5, min_periods=5).mean()
p = df_pop.population.rolling(window=5, min_periods=5).mean()
#ax.plot(date2,s/p,'-o')
# FIRST-AUTHOR: remove plotting
# ax.plot(s.index,s/p,'-o')
# # major labels
# ax.xaxis.set_major_locator(mdates.YearLocator(5,month=1,day=1))
# ax.xaxis.set_major_formatter(mdates.DateFormatter("%Y"))
# # grid lines
# ax.xaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.xaxis.grid(True,'major') # turn on major tic grid lines;
# ax.yaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.yaxis.grid(True,'major') # turn on major tic grid lines;
# plt.xlabel('end of 5 Year segment')
# plt.ylabel('Fatalities per Year per Million Population');
# plt.title('Fatalities per Year per Million Population for Rolling 5 Year Windows');
_ = s.index
_ = s/p

Looks like a gradual trend in the fatalities per million up to about 1995. Then a approximatelly flat curve to 2005 followed by an increased positive slope until 2014.  After 2014 there is a sharp change in positive slope for 2015 and 2016. Even though the data for 2017 is not complete it does not appear to fit the trend.

In [15]:
# get value counts for Race
df.Race.value_counts()

White American or European American                    122
Black American or African American                      76
Unknown                                                 42
Some other race                                         20
white                                                   12
Asian American                                          11
White                                                    9
Asian                                                    6
Black                                                    5
Latino                                                   5
Native American or Alaska Native                         3
black                                                    3
Other                                                    2
Two or more races                                        2
Black American or African American/Unknown               1
White American or European American/Some other Race      1
Asian American/Some other race                           1
Name: Race, dtype: int64

In [16]:
# edit Race colume to reduce number of categories
df.Race = df.Race.str.strip()
to_replace_list = ['white',
'White',
'Some other race',
'unclear',
'Unknown',
'White American or European American/Some other Race',
'Asian American',
'Asian American/Some other race',
'black',
'Black',
'Black American or African American/Unknown',
'Native American or Alaska Native'] 
replace_list = ['White American or European American',
'White American or European American',
'Other',
'Other',
'Other',
'White American or European American',
'Asian',
'Asian',
'Black American or African American',
'Black American or African American',
'Black American or African American',
'Native American']
df.Race = df.Race.replace(to_replace_list,replace_list)
race = df.Race.value_counts()
race

White American or European American    144
Black American or African American      85
Other                                   64
Asian                                   18
Latino                                   5
Native American                          3
Two or more races                        2
Name: Race, dtype: int64

## Shooter Race Distribution  total all years

In [17]:
# plot pie chart for race distribution
# FIRST-AUTHOR: remove plotting
# fig,ax = plt.subplots(figsize=(10,10))
# ax.pie(x=race,labels=race.index,rotatelabels=False, autopct='%.2f%%');
# plt.title('Shooter Race Distribution');
_ = race.index

Gross overall number of shooters are in the White race category

In [18]:
# group race colume in 5 year segments
df_race = df.groupby(pd.Grouper(key='Date', freq='5AS'))['Race'].value_counts()
ticklabels = ['1966 - 1970','1971 - 1975','1976 - 1980','1981 - 1985','1986 - 1990','1991 - 1995','1996 - 2000',
'2001 - 2005','2006 - 2010','2011 - 2015','2016 - 2017']
df_race

Date        Race
1966-01-01  White American or European American     2
1971-01-01  White American or European American     2
            Black American or African American      1
            Other                                   1
1976-01-01  White American or European American     3
            Black American or African American      1
1981-01-01  White American or European American     6
            Black American or African American      2
            Asian                                   1
1986-01-01  White American or European American    10
            Black American or African American      3
            Other                                   1
1991-01-01  White American or European American    16
            Asian                                   4
            Black American or African American      3
            Other                                   3
1996-01-01  White American or European American    15
            Black American or African American      4
            Other                                   2
            Asian                                   1
2001-01-01  White American or European American     4
            Other                                   3
            Asian                                   2
            Black American or African American      2
            Native American                         1
2006-01-01  White American or European American    18
            Black American or African American     10
            Asian                                   3
            Other                                   2
2011-01-01  White American or European American    49
            Black American or African American     39
            Other                                  17
            Asian                                   5
            Latino                                  4
            Native American                         2
            Two or more races                       2
2016-01-01  Other                                  35
            Black American or African American     20
            White American or European American    19
            Asian                                   2
            Latino                                  1
Name: Race, dtype: int64

## Shooter Race Distribution 5 Year Windows

In [19]:
# Shooter Race Distribution 5 Year Windows
df_race_us = df_race.unstack()
# FIRST-AUTHOR: remove plotting
# ax = df_race_us.plot(kind='bar',x=df_race_us.index,stacked=True,figsize=(10,6))
# plt.title('Shooter Race Distribution 5 Year Window')
# plt.xlabel('5 Year Window')
# plt.ylabel('Shootings')
# ax.xaxis.set_major_formatter(ticker.FixedFormatter(ticklabels))
# ax.yaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.yaxis.grid(True,'major') # turn on major tic grid lines;
# plt.gcf().autofmt_xdate()
_ = df_race_us.index

Gross shooting numbers seem to be dominated on average by white race over the years.

In [20]:
# norm shooter race distribution
size = df.groupby(pd.Grouper(key='Date', freq='5AS'))['Race'].size()
norm = df_race / size * 100

## Normerilzed Shooter Race Distribution 5 Year Windows

In [21]:
# Normerilzed Shooter Race distribution 5 Year Windows
norm_us = norm.unstack()
#ax = norm_us.plot(kind='bar',x=df_race_us.index,stacked=True,figsize=(20,10))
# FIRST-AUTHOR: remove plotting
# ax = norm_us.plot(kind='bar',x=norm_us.index,stacked=True,figsize=(10,6))
# plt.title('Normerilzed Shooter Race Distribution 5 Year Windows')
# plt.xlabel('5 Year Window')
# plt.ylabel('Normilized Shootings %')
# ax.xaxis.set_major_formatter(ticker.FixedFormatter(ticklabels))
# ax.yaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.yaxis.grid(True,'major') # turn on major tic grid lines;
# plt.gcf().autofmt_xdate()
_ = norm_us.index

Gross shooting numbers seem to be dominated on average by white race over the years.

## Shooter Race Demographics

In [22]:
# creats dataframe with Race Demographics
# https://en.wikipedia.org/wiki/Historical_racial_and_ethnic_demographics_of_the_United_States#Historical_
# data_for_all_races_and_for_Hispanic_origin_(1610%E2%80%932010)
non_hispanic_white = pd.Series([153217498,169622593,180256366,188128296,194552774,196817552])
hispanic_any_race = pd.Series([5814784,8920940,14608673,22354059,35305818,50477594])
# assume 5,000,000 for missing data for years 1960,1970,1980,1990 for two_or_more_races
two_or_more_races = pd.Series([5000000,5000000,5000000,5000000,6826228,9009073])
Some_other_race = pd.Series([87606,230064,6758319,9804847,15359073,19107368])
asian_pacific_islander = pd.Series([980337,1526401,3500439,7273662,10641833,15214265])
American_indian_eskimo = pd.Series([551669,795110,1420400,1959234,2475956,2932248])
Black = pd.Series([18871831,22539362,26495025,29986060,34658190,38929319])
White = pd.Series([158831732,178119221,188371622,199686070,211460626,223553265])
hispanic_non_white = hispanic_any_race - (White - non_hispanic_white)
df_race_dem = pd.DataFrame({'non_hispanic_white':non_hispanic_white,
                        'hispanic_any_race':hispanic_any_race,
                        'two_or_more_races':two_or_more_races,
                        'Some_other_race':Some_other_race,
                       'asian_pacific_islander':asian_pacific_islander,
                       'American_indian_eskimo':American_indian_eskimo,
                       'Black':Black,
                       'White':White,'hispanic_non_white':hispanic_non_white})
df_race_dem.index = [1960,1970,1980,1990,2000,2010]
# creat dataframe with Race Demographics means for 5 year segments
def extract(df,col):
    y = df[col].values.reshape(-1,1)
    x = df.index.values.reshape(-1,1).astype(float)
# FIRST-AUTHOR: remove ML code
#     reg_white = linear_model.LinearRegression().fit(x,y)
#     ans = reg_white.predict(np.array(np.arange(1966,2018,1)).reshape(-1,1)).tolist()
    ans = y
    flattened = [int(val) for sublist in ans for val in sublist]
    return flattened
non_hispanic_white = pd.Series(extract(df_race_dem,'non_hispanic_white'))
hispanic_non_white = pd.Series(extract(df_race_dem,'hispanic_non_white'))
American_indian_eskimo = pd.Series(extract(df_race_dem,'American_indian_eskimo'))
Black = pd.Series(extract(df_race_dem,'Black'))
hispanic_any_race = pd.Series(extract(df_race_dem,'hispanic_any_race'))
Some_other_race = pd.Series(extract(df_race_dem,'Some_other_race'))
White = pd.Series(extract(df_race_dem,'White'))
asian_pacific_islander = pd.Series(extract(df_race_dem,'asian_pacific_islander'))
two_or_more_races = pd.Series(extract(df_race_dem,'two_or_more_races'))
df_race_dem_reg = pd.DataFrame({'Asian':asian_pacific_islander,
                                'Black American or African American':Black,
                                'Latino':hispanic_non_white,
                                'Native American':American_indian_eskimo,
                                'Other':Some_other_race,
                                'White American or European American':White,
                                'Two or more races':two_or_more_races,
                                })
# FIRST-AUTHOR: make notebook run
# date = pd.date_range(start='1966-01-01', end='2017-01-01', freq='AS')
date = pd.date_range(start='1966-01-01', end='2017-01-01', periods=6)
df_race_dem_reg = df_race_dem_reg.set_index(date)
df_race_dem_reg_5 = df_race_dem_reg.resample("5AS").mean()
df_race_dem_reg_5

,Asian,Black American or African American,Latino,Native American,Other,White American or European American,Two or more races
1966-01-01,980337.0,18871831.0,200550.0,551669.0,87606.0,158831732.0,5000000.0
1971-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976-01-01,1526401.0,22539362.0,424312.0,795110.0,230064.0,178119221.0,5000000.0
1981-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-01-01,3500439.0,26495025.0,6493417.0,1420400.0,6758319.0,188371622.0,5000000.0
1991-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-01,7273662.0,29986060.0,10796285.0,1959234.0,9804847.0,199686070.0,5000000.0
2001-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-01-01,10641833.0,34658190.0,18397966.0,2475956.0,15359073.0,211460626.0,6826228.0
2011-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01,15214265.0,38929319.0,23741881.0,2932248.0,19107368.0,223553265.0,9009073.0

## Calculate Attacks by race normerilzed per 100,000 of that race in population

In [23]:
df_race_norm = df_race.unstack() / df_race_dem_reg_5 * 100000
df_race_norm

,Asian,Black American or African American,Latino,Native American,Other,Two or more races,White American or European American
Date,,,,,,,
1966-01-01,NaN,NaN,NaN,NaN,NaN,NaN,0.001259
1971-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976-01-01,NaN,0.004437,NaN,NaN,NaN,NaN,0.001684
1981-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-01-01,NaN,0.011323,NaN,NaN,0.014797,NaN,0.005309
1991-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-01,0.013748,0.013340,NaN,NaN,0.020398,NaN,0.007512
2001-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-01-01,0.028191,0.028853,NaN,NaN,0.013022,NaN,0.008512
2011-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01,0.013146,0.051375,0.004212,NaN,0.183175,NaN,0.008499

In [24]:
# Normerilzed Shooter Race distribution 5 Year Windows per 100,000 in poulation
#ax = norm_us.plot(kind='bar',x=df_race_us.index,stacked=True,figsize=(20,10))
# FIRST-AUTHOR: remove plotting
# ax = df_race_norm.plot(kind='bar',x=df_race_norm.index,stacked=False,figsize=(15,9))
# plt.title('Normerilzed Shooter Race Distribution per 100,000 in 5 Year Windows')
# plt.xlabel('5 Year Window')
# plt.ylabel('Shootings per 100,000')
# ax.xaxis.set_major_formatter(ticker.FixedFormatter(ticklabels))
# ax.yaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.yaxis.grid(True,'major') # turn on major tic grid lines;
# plt.gcf().autofmt_xdate()
_ = df_race_norm.index

When the gross shooting numbers by race are adjusted for demographics there is no apparent correlation with the race of the shooters.

In [25]:
# edit Gender colume to reduce number of categories
df.Gender = df.Gender.str.strip()
to_replace_list = ['M','M/F'] 
replace_list = ['Male','Male/Female']
df.Gender = df.Gender.replace(to_replace_list,replace_list)
Gender = df.Gender.value_counts()
Gender

Male           292
Unknown         21
Male/Female      5
Female           5
Name: Gender, dtype: int64

## Shooter Gender Distribution  total all years

In [26]:
# plot pie chart for race distribution
# FIRST-AUTHOR: remove plotting
# fig,ax = plt.subplots(figsize=(10,10))
# ax.pie(x=Gender,labels=Gender.index,rotatelabels=False, autopct='%.2f%%');
# plt.title('Shooter Gender Distribution');
_ = Gender.index

It is apparent that the shooters are mostly males.

## Shooter Day of Week Distribution  total all years

In [27]:
# calculate weekday name column
# FIRST-AUTHOR: make notebook run
# df['day_of_week'] = df['Date'].dt.weekday_name
df['day_of_week'] = df['Date'].dt.day_name()
day_of_week = df.day_of_week.value_counts()

In [28]:
# plot pie chart for day of week
# FIRST-AUTHOR: remove plotting
# fig,ax = plt.subplots(figsize=(10,10))
# ax.pie(x=day_of_week,labels=day_of_week.index,rotatelabels=False, autopct='%.2f%%');
# plt.title('Day of Week Distribution');
_ = day_of_week.index

Attack day of week distribution appears to be random and tend to equalize to approximately a uniform distribution on the day of the week.

## Shooter Month of Year Distribution  total all years

In [29]:
# calculate weekday name column
df['month_of_year']= df['Date'].dt.month
month_of_year = df.month_of_year.value_counts()

In [30]:
# plot pie chart for day of week
# FIRST-AUTHOR: remove plotting
# fig,ax = plt.subplots(figsize=(10,10))
# ax.pie(x=month_of_year,labels=month_of_year.index,rotatelabels=False, autopct='%.2f%%');
# plt.title('Month of Year Distribution');
_ = month_of_year.index

## Fatalities by Month

In [31]:
# fatalities by month
f_month = df.groupby(pd.Grouper(key='month_of_year'))['Fatalities'].sum()
f_month_sum = f_month.sum()
f_month_sum_norm = f_month / f_month_sum * 100
f_month_sum_norm_sort = f_month_sum_norm.sort_index()
f_month

month_of_year
11    109
10    160
6     123
5      58
4     127
1      85
9      70
7     105
3     139
2     174
12    164
8     119
Name: Fatalities, dtype: int64

In [32]:
# Normerilzed month fatality distribution
# FIRST-AUTHOR: remove plotting
# ax = f_month_sum_norm_sort.plot(kind='bar',x=f_month_sum_norm_sort.index,stacked=True,figsize=(10,6))
# plt.title('Normerilzed Monthly Fatality Distribution')
# plt.xlabel('Month')
# plt.ylabel('Normilized Fatalities %')
# #ax.xaxis.set_major_formatter(ticker.FixedFormatter(ticklabels))
# ax.yaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.yaxis.grid(True,'major') # turn on major tic grid lines;
# plt.gcf().autofmt_xdate()
_ = f_month_sum_norm_sort.index

There may be a very slight increase in shootings in the fall and winter months.

In [33]:
# norm shootings  distribution
size = df.groupby(pd.Grouper(key='Date', freq='5AS'))['month_of_year'].size()

# group month of year colume in 5 year segments
df_month_5 = df.groupby(pd.Grouper(key='Date', freq='5AS'))['month_of_year'].value_counts()
ticklabels = ['1966 - 1970','1971 - 1975','1976 - 1980','1981 - 1985','1986 - 1990','1991 - 1995','1996 - 2000',
'2001 - 2005','2006 - 2010','2011 - 2015','2016 - 2017']
df_month_5_n = df_month_5 / size * 100

In [34]:
# Number of shooting by month 5 Year Windows
df_month_5_n_us = df_month_5_n.unstack()
# FIRST-AUTHOR: remove plotting
# ax = df_month_5_n_us.plot(kind='bar',x=df_month_5_n_us.index,stacked=True,figsize=(10,6),colormap='Paired')
# plt.title('Number Shootings Normerilzed Month Distribution 5 Year Window')
# plt.xlabel('5 Year Window')
# plt.ylabel('Number Shootings')
# ax.xaxis.set_major_formatter(ticker.FixedFormatter(ticklabels))
# ax.yaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.yaxis.grid(True,'major') # turn on major tic grid lines;
# plt.gcf().autofmt_xdate()
_ = df_month_5_n_us.index

## Shooter mental health issues

In [35]:
# plot pie chart mental health distribution
mental = df['Mental Health Issues'].value_counts()
# FIRST-AUTHOR: remove plotting
# fig,ax = plt.subplots(figsize=(10,10))
# ax.pie(x=mental,labels=mental.index,rotatelabels=False, autopct='%.2f%%');
# plt.title('Mental Health Distribution');
_ = mental.index

Appears that significant fraction of shooters have mental health issues.  That said there is a large uncertainty in the overall distribution due to the large fraction of data with the shooter mental health status unknown.

## Cause

In [36]:
# plot pie chart mental health distribution
cause = df['Cause'].value_counts()
# FIRST-AUTHOR: remove plotting
# fig,ax = plt.subplots(figsize=(10,10))
# ax.pie(x=cause,labels=cause.index,rotatelabels=False, autopct='%.2f%%');
# plt.title('Cause Distribution');
_ = cause.index

This data suggests that a large fraction of the shooting are for no well defined reason but are due to general anger or mental health issues.

## Wordcloud on summary blocks

In [37]:
# FIRST-AUTHOR: remove plotting
# from wordcloud import WordCloud, STOPWORDS
# stopwords = set(STOPWORDS)
# wordcloud = WordCloud(background_color='white',stopwords=stopwords,max_words=100,
#                       max_font_size=40).generate(str(df['Summary']))
# plt.figure(figsize=(10,6))
# plt.imshow(wordcloud)
# plt.axis('off')
# plt.show()
_ = str(df['Summary'])

The word student appears in a high number of the descripions.

## Find summary blocks with the word student

In [38]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth',-1)
students = df[df['Summary'].str.contains('student')][['Title','Summary']]
students

/tmp/ipykernel_73303/3303186443.py:3: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('max_colwidth',-1)

,Title,Summary
Date,,
2015-10-09,Northern Arizona University at Flagstaff Campus,"On Friday of October 9, 2015, one person is dead and three are wounded after an early morning shooting on Northern Arizona University's campus. An overnight confrontation between two groups of students escalated into gunfire. The shooter is a freshman of Northern Arizona University."
2015-05-03,Fox Cities Trestle Trail bridge over Little Lake Butte des Morts,"On May 3, 2015, an argument with his ex-fiance likely motivated a university student to randomly shoot four people on a bridge at a park Sunday night, three fatally. Then the gunman also shot and killed himself."
2015-04-03,Daytona Beach,"On April 3, 2015, four people were shot early Friday morning at a house party near Bethune-Cookman University in Daytona Beach. Four Bethune-Cookman University students were shot after the alleged gunman was kicked out of a house party about four blocks from the campus in Daytona Beach. The escaped suspect surrendered on April 6, 2015."
2015-02-10,Chapel Hill,"On the evening of Feb. 10, 2015, a man entered the apartment of three Muslim students with whom he had an ongoing dispute about parking space. The man was a fellow resident of the apartment complex. He shot all three people in the head, killing them."
2014-10-24,Marysville-Pilchuck High School,"On October 24, 2014, a freshman at Marysville-Pilchuck High School approached a table of his friends in the school cafeteria and a verbal fight ensued. The student then pulled out a handgun and fired at the students at the table. He injured five students, killed 1 girl, and then committed suicide by shooting himself in the head. Three of the four injured students died in the hospital in the following days."
2014-06-05,Seattle Pacific University,"On June 5, 2014, a 26-year-old man entered a hall on the campus of Seattle Pacific University and began shooting at students. The shooter killed one student and injured two others before a student tackled and stopped the shooter as he was reloading."
2013-10-21,Sparks Middle School,"On October 21, 2013, a 12-year old student at Sparks Middle School in Nevada, shot and injured two students and killed a teacher before killing himself."
2013-02-19,"Ladera Ranch, Santa Ana, Tustin and Orange","On February 19, 2013, a 20-year old unemployed, part-time student killed a 20-year old woman at his parent's house. The shooter's parents called 911 when they heard the noise. He drove off in his parents car and went on a killing spree carjacking several cars and shooting at commuters, drivers, and construction workers. He committed suicide when police were approaching. The shooter had left a suicide note that he wrote within an hour of the 911 call his parents made."
2013-01-19,South Valley Residence,"On January 19, 2013, a 15-year old homeschooled student shot and killed his mother and three younger siblings in their residential home in South Valley, New Mexico. The shooter then waited up five hours for his father, a former pastor, to arrive home. When the father got home, the son shot him several times and killed him. Apparently, he was planning to go on a killing spree afterwards. Instead he went to church and was later arrested."
2012-04-02,Oikos University killings,"One L. Goh, 43, a former student, opened fire in a nursing classroom. He fled the scene by car and was arrested nearby a few hours later."
2012-02-27,Chardon High School,"On February 27, 2012, a 17-year old student entered Chardon High School in Chardon, Ohio, shooting students in the cafeteria and in the hallway, leaving three students dead and three injured. He then was chased out of the school by a teacher and was arrested outside the school."
2011-04-06,Southern Union State Community College,"On April 6, 2011, a 34-year old man went to the Opelika campus of Southern Union State Community College in Alabama, where his former wife was a student. He fired into a car and shot and killed his mother-in-law and injured his estranged wife, her grandmother, and her 4-year old daughter. Hours later returned to the crime scene and confessed to a photographer that he was the shooter. He was later arrested by the police."
2011-02-06,Youngstown State University,"On February 6, 2011, two 19-year old man and a 22-year old man were involved in an argument over a girl in a fraternity house party in Youngstown State University in Ohio. A dispute ensued and one man was thrown out of the party and the other followed. They returned sometime later and began spraying bullets into the crowd, killing one student and injuring eleven others."
2008-10-26,University of Central Arkansas,"On October 26, 2008, four men between the ages of 19 and 20 arrived at a dormitory at the University of Central Arkansas in Conway, Arkansas and began shooting. The shooters killed two students and wounded a visitor before being arrested."
2007-12-11,Mojave High School Bus,"On December 11, 2007, an 18-year-old high school drop out of Mojave High School in Las Vegas, Nevada arrived at a school bus stop where he planned an encounter with a student who had bumped into him the day before. He then began shooting at the student and others, wounding six before fleeing the scene. The shooter was arrested in Denver, CO after the police received a tip that he was on a bus to Chicago."
2007-10-25,South Middle School Football Game,"On October 25, 2007, a 15-year-old student arrived at a football game at South Middle School in Saginaw, Michigan looking for his brother. He then ran into other students with which he had an ongoing confrontation and began shooting, wounding four before fleeing the scene. He was later arrested and charged with assault with intent to murder"
2007-10-11,SuccessTech Academy,"On October 11, 2007, a 14-year-old student of SuccessTech Academy in Cleveland, Ohio arrived at school two days after he had been suspended for getting into a fist-fight with another student. He then began shooting at students and teachers, injuring four during the incident and committing suicide."
2007-04-16,Virginia Tech massacre,"Virginia Tech student Seung-Hui Cho, 23, opened fire on his school's campus before committing suicide."
2007-04-10,Springwater Trail High School,"On April 10, 2007, a 15-year-old student of Springwater Trail High School in Gresham, Oregon arrived to his school and began shooting at his classmates. He wounded ten and killed none before being arrested."
2006-10-02,West Nickel Mines Amish School,"On October 2, 2006, a 32-year old men killed five schoolgirls and seriously wounded five others in West Nickel Amish School in Nickel Mines, Pennsylvania before taking his own life. Before the shooting, the gunman separated the students by gender and age, letting go males and adults before locking the school. He ended up committing suicide before police broke into the school."
2006-09-17,Duquesne University,"On September 17, 2006, two 18-year old men shot at five Duquesne University basketball players after a school dance. Several players said the shooter was a non-student unhappy that the woman he accompanied to the dance had talked with a player. The shooter and at least one other man followed the players when they left the dance to walk to their dormitory. Both man were later identified and arrested."
2006-08-30,Orange High School,"On August 30, 2006, a 18-year old former student at Orange High School in Hillsborough, North Carolina returned to the school to open fire on students and teachers having lunch outside, injuring two students. The student was apprehended outside the school and he confessed that he had previously killed his own father at their family home."
2005-03-21,Red Lake High School,"On March 21, 2005, after killing his grandfather and his grandfather's girlfriend in their home, a 16-year-old student of Red Lake High School in Red Lake, Minnesota arrived on campus and began shooting at his classmates and teachers. He killed five students, a teacher, a security guard and wounded five others before committing suicide."
2003-05-09,Case Western Reserve University,"On May 9, 2003, a graduate of the Case Western Reserve University in Cleveland, Ohio began shooting on the school grounds, killing a student and wounding a professor and another student. He was later arrested after holding a building hostage for seven hours."
2002-10-28,University of Arizona College of Nursing,"On October 28, 2002, a 41-year-old nursing student failing out of his classes University of Arizona College of Nursing in Tucson, Arizona arrived on campus and shot three of his professors, killing them all, before committing suicide."
2002-01-16,Appalachian School of Law,"On January 16, 2002, a 43-year-old former student of the Appalachian School of Law in Grundy, Virginia arrived on campus and began shooting. He killed the dean, a professor, a student and wounded three others before being arrested."
2001-03-05,Santana High School,"On March 5, 2001, a 15-year-old student of Santana High School in San Diego, California arrived to school and began shooting at his fellow classmates. Two students were killed and thirteen others were wounded before the shooter was taken into custody."
1999-12-06,Fort Gibson Middle School,"On December 6, 1999, a 13-year-old student at Fort Gibson Middle School in Fort Gibson, Oklahoma opened fire on his classmates for no apparent reason, wounding four before being stopped by a teacher and taken into custody."
1999-05-20,Heritage High School,"On May 20. 1999, a 15-year-old student of Heritage High School in Conyers, Georgia arrived on campus and began shooting his fellow students as he was upset over a breakup with his girlfriend. He non-fatally wounded six students before being arrested."
1999-04-20,Columbine High School,"On April 20, 1999, two students ages 17 and 18 arrived on their campus at Columbine High School in Littleton, Colorado, planning to kill hundreds of their peers and teachers. After two large propane tank bombs failed to explode, the students began shooting at their classmates, killing twelve and a teacher and wounding twenty-four others. The incident ended when the students killed themselves simultaneously in the library."
1998-05-21,Thurston High School,"On May 21, 1998, a 15-year-old student at Thurston High School in Springfield, Oregon arrived on campus the day after killing both his parents with firearms in their home. He began shooting at the students, killing two and wounding twenty-five others before being arrested."
1998-04-24,Parker Middle School Dance,"On April 24, 1998, a 14-year-old student of Park Middle School in Edinboro, Pennsylvania was attending the end-of-the-year dance at an off-campus banquet hall. The student pulled his father's gun from a pocket and began shooting, killing a teacher and wounding another and two students before being arrested."
1998-03-24,Westside Middle School killings,"Mitchell Scott Johnson, 13, and Andrew Douglas Golden, 11, two juveniles, ambushed students and teachers as they left the school; they were apprehended by police at the scene."
1997-12-01,Heath High School,"On December 1, 1997, a 14-year-old student at Heath High School in West Paducah, Kentucky brought stolen guns to campus and began shooting at a prayer group that met every day, killing three students and wounding five others before being arrested. The shooter was later found to have been suffering from paranoid schizophrenia."
1997-10-01,Pearl High School,"On October 1, 1997, a 16-year-old student of Pearl High School in Pearl, Mississippi stabbed his mother to death before heading to school. Once there, he shot and killed his ex-girlfriend and her friend before wounding an additional seven other students. He was stopped while fleeing the incident by a principal with a handgun and was arrested."
1997-02-19,Bethel Regional High School,"On February 19, 1997, a 16-year-old student at Bethel Regional High School in Bethel, Alaska arrived on campus and shot a popular student, killing him. He later shot and killed the school's principal and wounded two others before being arrested."
1996-08-15,San Diego State University,"On August 15, 1996, a 36-year-old mechanical engineering graduate student at San Diego State University in San Diego, California was set to defend his Master's thesis for the second time. Instead, he pulled a gun he had stashed in a first aid kit in the room and shot twenty-three rounds into the three professors witnessing his defense, killing all three. He was found and arrested in the room, where he had planned to commit suicide but could not do it."
1996-02-02,Frontier Junior High School,"On February 2, 1996, a 14-year-old student walked into his algebra class at Frontier Junior High School in Moses Lake, Washington shooting and killing his teacher before killing two students, one who had bullied him, and wounding another student in the arm. He then held the class hostage and was tackled and held by a teacher until he was apprehended by police."
1995-11-15,Richland High School,"On November 15, 1995, a 17-year-old students at Richland High School in Lynnville, Tennessee arrived to school and began shooting. He killed a teacher, a student and wounded another teacher before the gun was wrestled away from him by another teacher."
1995-01-26,Downtown Chapel Hill,"On January 26, 1995, a 26-year-old mentally ill law student in Chapel Hill, North Carolina, was permitted to take unsupervised off-campus trips outside his mental hospital. During this particular trip, he opened fire on passersby, killing two and wounding two others before being arrested. He was found not guilty by reason of insanity and later won a lawsuit against a psychiatrist."
1994-05-26,"Residence in Union, Kentucky","On May 26, 1994, a 17-year-old high school student awoke in the early hours of the day to kill his parents and his sisters in their home. He then kidnapped his prom date at gunpoint and brought her to a classroom, where he held her, a teacher and 22 students hostage before being detained by police."
1993-12-16,Chelsea High School,"On December 16, 1993, after a meeting with school officials in regards to a harassment complaint made by a student, a 39-year-old Chemistry teacher at Chelsea High School in Chelsea, Michigan stormed off with his wife and went home. Still enraged by the allegation, he returned to the school, killing the superintendent and wounding the principal and a teacher before being arrested."
1993-09-17,Central Middle School,"On September 17, 1993, a 29-year-old man recently discharged from the Navy approached a physical education class at Central Middle School in Sheridan, Wyoming and opened fire on its 29 students. He wounded four students before committing suicide in front of the class."
1993-07-08,Weber State University,"On July 8, 1993, a 28-year old student shot and injured three people at a grievance hearing at Weber State University in Odgen, Utah. One of the injured was a State police officer who was able to shoot back, killing the perpetrator."
1992-12-14,Simon's Rock College of Bard,"On December 14, 1992, an 18-year-old student opened fire at Simon's Rock College of Bard in Great Barrington, Massachusetts. Before turning himself in to police, he killed a student and a teacher and wounded four others."
1992-09-11,Palo Duro High School,"On September 11, 1992, a fight broke out in Amarillo, Texas between two students that ended with one student, a 17-year-old male, pulling a gun out and shooting. Six students were wounded before the shooter was taken into custody."
1992-05-01,Lindhurst High School,"On May 1, 1992, a 20-year-old former student of Lindhurst High School in Olivehurst, California began shooting at students and teachers in classrooms. Seeking revenge for a failing grade, the shooter first killed the teacher who gave him that grade, later killing three students and injuring ten others before being arrested."
1991-11-01,University of Iowa,"On November 1, 1991, a 28-year-old astrophysics researcher opened fire on academics at a meeting at the University of Iowa in Iowa City. The shooter fatally wounded three professors on his dissertation committee, an academic affairs officer, and the researcher who received the award he felt he deserved, and as well as paralyzing a student employee before committing suicide."
1991-08-09,Wat Promkunaram Buddhist Temple,"On the evening on August 9, 1991, two high school students in the Air Force ROTC program entered a Buddhist monastery intending to steal cameras, golden religious paraphernalia and cash from the monks. After looting the monastery and holding the monks hostage, the boys decided to shoot and kill all nine occupants of the house to leave no witnesses of their crime."
1989-01-17,Cleveland Elementary School,"On January 17, 1989, an unemployed 24-year-old man arrived to Cleveland Elementary School in Stockton, California. He set his car on fire in the parking lot, before entering the school to begin shooting. The shooter killed five students and injured thirty others including a teacher, before killing himself."
1988-09-26,Oakland Elementary School,"On September 26, 1988, an unemployed 19-year-old man entered the Oakland Elementary School in Greenwood, South Carolina. He was arrested after killing two 8-year-old girls and injuring seven other students and two teachers. He was later found ""guilty but mentally ill."""
1988-05-20,Hubbard Woods Elementary School,"On May 20, 1988, a 30-year-old woman entered the Hubbard Woods Elementary School with the intent to target her former in-laws' children who she believed attended the school. After shooting a boy in a bathroom down the hall, she entered a second-grade classroom and began shooting the students, killing one and injuring five more. She fled the scene and entered a home, where she injured another young man before turning the gun on herself in a bedroom."
1988-02-11,Pinellas Park High School,"On February 11, 1988, two students age 15 and 16 were confronted by school personnel regarding firearms they had stolen and carried on campus. The shooting began after the staff attempted to physically restrain the students, and ended with an assistant principal killed and two others injured."
1986-12-04,Fergus County High School,"On December 4, 1986, a 14-year-old student at Fergus County High School in Lewistown, Montana, disgruntled with his grades, fatally shot a teacher and wounded a vice principal and two students as he fled. He was arrested at his home an hour later."
1986-08-12,New York Technical College,"On August 12, 1986, a 29-year civil technology student at New York Technical College in Brooklyn went to the school thinking his supervisor was the reason he had not received his financial aid. He killed the supervisor and wounded four other people. He was later arrested by the police."
1985-01-21,Goddard Junior High School,"On January 21, 1985, a 14-year-old student entered Goddard Junior High School in Goddard, Kansas. The student killed the principal and injured two teachers and another student. He was arrested 90 minutes later by a policeman in a field just south of Goddard."
1982-03-19,Valley High School,"On March 19, 1982, a 17-year-old student walked into Valley High School in Las Vegas, Nevada. The shooter shot and killed a teacher and injured two students."
1979-10-06,University of South Carolina,"On October 6, 1979, a 19-year-old student at University of South Carolina opened fire at a homecoming weekend fraternity party, killing two students and wounding five others."
1976-02-19,Los Angeles Computer Learning Center,"On February 19, 1976, a 18-year-old student at a Los Angeles computer school opened fire during a test at his fellow students with a shotgun, killing one student and wounding several others. When trying to escape, he was apprehended by a security guard who exchanged fire with the shooter, leaving him critically wounded. The security guard was injured during the exchange."

In [39]:
students.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 64 entries, 2015-10-09 to 1966-08-01
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Title    64 non-null     object
 1   Summary  64 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

## Calculate  Percent of summary blocks  that contain the word student

In [40]:
print('{0:.1f}% of the summary blocks contain the word student'.format(len(students)/len(df)*100))

19.8% of the summary blocks contain the word student

In [41]:
ages = df.Age.values
sum = []
for i in ages:
# FIRST-AUTHOR: make notebook work with input scaling
#     if type(i) == float:
    if type(i) == float or type(i) == np.float64:
        continue
    print('"Age"', i)
    s = i.split(',')
    sum.append(s)
flattened = [int(val) for sublist in sum for val in sublist]

## Distribution Shooter Ages

In [42]:
# FIRST-AUTHOR: remove plotting
# fig,ax = plt.subplots(figsize=ratio)
# ax.hist(flattened,bins=10)
# ax.xaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.xaxis.grid(True,'major') # turn on major tic grid lines;
# ax.yaxis.grid(False,'minor') # turn off minor tic grid lines
# ax.yaxis.grid(True,'major') # turn on major tic grid lines;
# plt.xlabel('Age')
# plt.ylabel('Number of shooters');
# plt.title('Histogram of Shooter Age');

The age distribution seems to track with the substantial number of student involvement in the attack summaries.

## What are the Targets¶

In [43]:
# plot pie chart for targets
target = df.Target.value_counts()
# FIRST-AUTHOR: remove plotting
# df.Target.value_counts()[:20].plot(kind='barh',figsize=(10,6))
# plt.xlabel('Counts')
# plt.title('What are  the Targets');
_ = df.Target.value_counts()[:20]

The reason distribution seems to track the cause distribution. This data suggests that a large fraction of the shooting are not based on any well-defined reason but are due to general anger or mental health issues and are random.

## Plot Fatality Locations on USA Map

In [44]:
# FIRST-AUTHOR: remove plotting
# from plotly.offline import download_plotlyjs, init_notebook_mode, iplot
# from plotly.graph_objs import *
# init_notebook_mode()

#df_f = df[df['Fatalities'] > 5]
df['text'] = 'Fatalities ' + (df['Fatalities']).astype(str) + '<br>' + (df['Location']).astype(str)
scale = 5
killed = [dict(
    type = 'scattergeo',
    locationmode = 'USA-states',
    lon = df['Longitude'],
    lat = df['Latitude'],
     text = df['text'],
     marker = dict(
        size = df['Fatalities']*scale,
        color = "rgb(0,116,217)",
        line = dict(width=0.5, color='rgb(40,40,40)'),
        sizemode = 'area'
    ),
    #name = ?
)]
    
# FIRST-AUTHOR: remove plotting
# layout = dict(
#     title = 'Mass Shooting Fatalities',
#     showlegend = False,
#     geo = dict(
#         scope='usa',
#         projection=dict( type='albers usa' ),
#         showland = True,
#         landcolor = 'rgb(217, 217, 217)',
#         subunitwidth=1,
#         countrywidth=1,
#         subunitcolor="rgb(255, 255, 255)",
#         countrycolor="rgb(255, 255, 255)"
#     )
# )
# fig = dict( data=killed, layout=layout )
# iplot( fig)