In [ ]:
import os

def scale_input_data(scale_factor):
  file_bases = ['./input/covid-19 sp']
  for file_base in file_bases:
    import pandas as pd
    import shutil
    if scale_factor == 1.0:
      shutil.copyfile(file_base + '.csv', file_base + '.scaled.csv')
      continue
    df_to_scale = pd.read_csv(file_base + '.csv')
    new_num_rows = int(scale_factor * len(df_to_scale))
    if scale_factor <= 1.0:
      df_to_scale = df_to_scale.iloc[:new_num_rows]
    else:
      while len(df_to_scale) < new_num_rows:
        df_to_scale = pd.concat([df_to_scale, df_to_scale[:min(new_num_rows - len(df_to_scale), len(df_to_scale))]])
    df_to_scale.to_csv(file_base + '.scaled.csv', index=False)

if 'INPUT_SCALE_FACTOR' in os.environ:
  scale_input_data(float(os.environ['INPUT_SCALE_FACTOR']))

In [1]:
import numpy as np
# import pandas as pd
exec(os.environ['IREWR_IMPORTS'])
# ALEX: remove plotting, ML code
# import statsmodels.api as sm
# import seaborn as sns
# from statsmodels.tsa.seasonal import seasonal_decompose
# from statsmodels.tsa.stattools import adfuller
# from statsmodels.graphics.tsaplots import plot_acf,plot_pacf
# from pandas.plotting import autocorrelation_plot
# from statsmodels.tsa.arima_model import ARIMA
# from pandas.tseries.offsets import DateOffset

# import matplotlib.pyplot as plt
# %matplotlib inline

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('./input/covid-19 sp.scaled.csv')
df.head()

         data  total de casos  casos por dia  obitos por dia
0  01/04/2020            2981            642            28.0
1  31/03/2020            2339            822            23.0
2  30/03/2020            1517             66            15.0
3  29/03/2020            1451             45            14.0
4  28/03/2020            1406            183            16.0

In [3]:
df.columns = ['Date', 'Val',"",""]
df.head()

         Date   Val
0  01/04/2020  2981  642  28.0
1  31/03/2020  2339  822  23.0
2  30/03/2020  1517   66  15.0
3  29/03/2020  1451   45  14.0
4  28/03/2020  1406  183  16.0

In [4]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    36 non-null     object
 1   Val     36 non-null     int64
 2           36 non-null     int64
 3           16 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.2+ KB

Date     0
Val      0
         0
        20
dtype: int64

In [5]:
df['Date'] = pd.to_datetime(df['Date'])

In [6]:
df.set_index ('Date', inplace = True)
df.index

DatetimeIndex(['2020-01-04', '2020-03-31', '2020-03-30', '2020-03-29',
               '2020-03-28', '2020-03-27', '2020-03-26', '2020-03-25',
               '2020-03-24', '2020-03-23', '2020-03-22', '2020-03-21',
               '2020-03-20', '2020-03-19', '2020-03-18', '2020-03-17',
               '2020-03-16', '2020-03-15', '2020-03-14', '2020-03-13',
               '2020-12-03', '2020-11-03', '2020-10-03', '2020-09-03',
               '2020-08-03', '2020-07-03', '2020-06-03', '2020-05-03',
               '2020-04-03', '2020-03-03', '2020-02-03', '2020-01-03',
               '2020-02-29', '2020-02-28', '2020-02-27', '2020-02-26'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [7]:
df_new = df['1998-01-01':]
df_new.tail()

            Val
Date
2020-01-03    0  0 NaN
2020-02-29    2  2 NaN
2020-02-28    0  0 NaN
2020-02-27    0  0 NaN
2020-02-26    1  1 NaN

In [8]:
df_new.describe().transpose()

     count        mean         std  min  25%    50%     75%     max
Val   36.0  475.916667  719.695347  0.0  9.0  100.5  761.25  2981.0
      36.0   82.888889  171.151859  0.0  3.0   14.0   72.25   822.0
      16.0   10.250000    7.523297  1.0  5.5    9.0   14.25    28.0

In [9]:
# ALEX: remove plotting
# df_new.boxplot('Val', rot = 80, fontsize = '12',grid = True);

In [10]:
time_series = df_new['Val']
type(time_series)

pandas.core.series.Series

In [11]:
# ALEX: remove plotting
# time_series.rolling(12).mean().plot(label = '12 Months Rolling Mean', figsize = (16,10))
# time_series.rolling(12).std().plot(label = '12 Months Rolling Std')
# time_series.plot()
# plt.legend();
time_series.rolling(12).mean()
time_series.rolling(12).std()

Date
2020-01-04           NaN
2020-03-31           NaN
2020-03-30           NaN
2020-03-29           NaN
2020-03-28           NaN
2020-03-27           NaN
2020-03-26           NaN
2020-03-25           NaN
2020-03-24           NaN
2020-03-23           NaN
2020-03-22           NaN
2020-03-21    735.302700
2020-03-20    550.086791
2020-03-19    426.301394
2020-03-18    418.456715
2020-03-17    400.052837
2020-03-16    357.383929
2020-03-15    316.378501
2020-03-14    284.982881
2020-03-13    263.496766
2020-12-03    231.255598
2020-11-03    189.220951
2020-10-03    146.554442
2020-09-03    120.892765
2020-08-03     92.385392
2020-07-03     74.973278
2020-06-03     57.567549
2020-05-03     49.131472
2020-04-03     37.705397
2020-03-03     21.385353
2020-02-03     17.804281
2020-01-03     13.804643
2020-02-29      9.481641
2020-02-28      7.316958
2020-02-27      6.515715
2020-02-26      5.706854
Name: Val, dtype: float64