In [1]:
import numpy as np
# import pandas as pd
import os
exec(os.environ['IREWR_IMPORTS'])
# ALEX: remove plotting, ML code
# import statsmodels.api as sm
# import seaborn as sns
# from statsmodels.tsa.seasonal import seasonal_decompose
# from statsmodels.tsa.stattools import adfuller
# from statsmodels.graphics.tsaplots import plot_acf,plot_pacf
# from pandas.plotting import autocorrelation_plot
# from statsmodels.tsa.arima_model import ARIMA
# from pandas.tseries.offsets import DateOffset

# import matplotlib.pyplot as plt
# %matplotlib inline

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('./input/covid-19 sp.scaled.csv')
df.head()

         data  total de casos  casos por dia  obitos por dia
0  01/04/2020            2981            642            28.0
1  31/03/2020            2339            822            23.0
2  30/03/2020            1517             66            15.0
3  29/03/2020            1451             45            14.0
4  28/03/2020            1406            183            16.0

In [3]:
df.columns = ['Date', 'Val',"",""]
df.head()

         Date   Val
0  01/04/2020  2981  642  28.0
1  31/03/2020  2339  822  23.0
2  30/03/2020  1517   66  15.0
3  29/03/2020  1451   45  14.0
4  28/03/2020  1406  183  16.0

In [4]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    36 non-null     object
 1   Val     36 non-null     int64
 2           36 non-null     int64
 3           16 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.3+ KB

Date     0
Val      0
         0
        20
dtype: int64

## STEF-UPDATED

In [5]:
# df['Date'] = pd.to_datetime(df['Date'])
df['Date'] = pd.to_datetime(df['Date'], errors='coerce', dayfirst=False)
# Drop rows that could not be converted
df = df.dropna(subset=['Date'])

In [6]:
df.set_index ('Date', inplace = True)
df.sort_index(inplace=True)
df.index

DatetimeIndex(['2020-01-03', '2020-01-04', '2020-02-03', '2020-03-03',
               '2020-04-03', '2020-05-03', '2020-06-03', '2020-07-03',
               '2020-08-03', '2020-09-03', '2020-10-03', '2020-11-03',
               '2020-12-03'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [7]:
df_new = df['1998-01-01':]
df_new.tail()

            Val
Date
2020-08-03   16   3 NaN
2020-09-03   16   0 NaN
2020-10-03   19   3 NaN
2020-11-03   30  11 NaN
2020-12-03   46  16 NaN

In [8]:
df_new.describe().transpose()

     count        mean         std   min   25%   50%   75%     max
Val   13.0  241.538462  823.211862   0.0   3.0  13.0  19.0  2981.0
      13.0   52.923077  177.057176   0.0   0.0   3.0   4.0   642.0
       1.0   28.000000         NaN  28.0  28.0  28.0  28.0    28.0

In [9]:
# ALEX: remove plotting
# df_new.boxplot('Val', rot = 80, fontsize = '12',grid = True);

In [10]:
time_series = df_new['Val']
type(time_series)

pandas.core.series.Series

In [11]:
# ALEX: remove plotting
# time_series.rolling(12).mean().plot(label = '12 Months Rolling Mean', figsize = (16,10))
# time_series.rolling(12).std().plot(label = '12 Months Rolling Std')
# time_series.plot()
# plt.legend();
time_series.rolling(12).mean()
time_series.rolling(12).std()

Date
2020-01-03           NaN
2020-01-04           NaN
2020-02-03           NaN
2020-03-03           NaN
2020-04-03           NaN
2020-05-03           NaN
2020-06-03           NaN
2020-07-03           NaN
2020-08-03           NaN
2020-09-03           NaN
2020-10-03           NaN
2020-11-03    857.624185
2020-12-03    856.469002
Name: Val, dtype: float64