In [1]:
import os

def scale_input_data(scale_factor):
  file_bases = ['./input/kc_house_data']
  for file_base in file_bases:
    import pandas as pd
    import shutil
    if scale_factor == 1.0:
      shutil.copyfile(file_base + '.csv', file_base + '.scaled.csv')
      continue
    df_to_scale = pd.read_csv(file_base + '.csv')
    new_num_rows = int(scale_factor * len(df_to_scale))
    if scale_factor <= 1.0:
      df_to_scale = df_to_scale.iloc[:new_num_rows]
    else:
      while len(df_to_scale) < new_num_rows:
        df_to_scale = pd.concat([df_to_scale, df_to_scale[:min(new_num_rows - len(df_to_scale), len(df_to_scale))]])
    df_to_scale.to_csv(file_base + '.scaled.csv', index=False)

if 'INPUT_SCALE_FACTOR' in os.environ:
  scale_input_data(float(os.environ['INPUT_SCALE_FACTOR']))

In [2]:
# import pandas as pd
exec(os.environ['IREWR_IMPORTS'])
import numpy as np
# ALEX: remove plotting
# import matplotlib.pyplot as plt
# import seaborn as sns

/home/alex/Programs/python/dias/.venv/lib64/python3.10/site-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [3]:
df = pd.read_csv('./input/kc_house_data.scaled.csv')

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/26 22:09:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/01/26 22:09:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/01/26 22:09:22 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/01/26 22:09:22 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
/home/alex/Programs/python/dias/.venv/lib64/python3.10/site-packages/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `read_csv`, the default index is attached which can cause additional overhead.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

# Exploratory Data Analysis

In [4]:
evaluate_lazy(df.isnull().sum())

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [5]:
evaluate_lazy(df.describe().transpose())

25/01/26 22:09:28 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
/home/alex/Programs/python/dias/.venv/lib64/python3.10/site-packages/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

                 count          mean           std           min           25%           50%           75%           max
id             45387.0  4.580992e+09  2.875209e+09  1.000102e+06  2.123049e+09  3.904960e+09  7.308600e+09  9.900000e+09
price          45387.0  5.397596e+05  3.677691e+05  7.500000e+04  3.209000e+05  4.500000e+05  6.450000e+05  7.700000e+06
bedrooms       45387.0  3.371164e+00  9.285184e-01  0.000000e+00  3.000000e+00  3.000000e+00  4.000000e+00  3.300000e+01
bathrooms      45387.0  2.112731e+00  7.697582e-01  0.000000e+00  1.750000e+00  2.250000e+00  2.500000e+00  8.000000e+00
sqft_living    45387.0  2.079367e+03  9.182391e+02  2.900000e+02  1.420000e+03  1.910000e+03  2.550000e+03  1.354000e+04
sqft_lot       45387.0  1.510985e+04  4.158520e+04  5.200000e+02  5.060000e+03  7.632000e+03  1.072000e+04  1.651359e+06
floors         45387.0  1.491473e+00  5.387775e-01  1.000000e+00  1.000000e+00  1.500000e+00  2.000000e+00  3.500000e+00
waterfront     45387.0  7.711459e-03  8.747663e-02  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  1.000000e+00
view           45387.0  2.353097e-01  7.678442e-01  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  4.000000e+00
condition      45387.0  3.411858e+00  6.521076e-01  1.000000e+00  3.000000e+00  3.000000e+00  4.000000e+00  5.000000e+00
grade          45387.0  7.654769e+00  1.175830e+00  1.000000e+00  7.000000e+00  7.000000e+00  8.000000e+00  1.300000e+01
sqft_above     45387.0  1.787279e+03  8.276704e+02  2.900000e+02  1.190000e+03  1.560000e+03  2.210000e+03  9.410000e+03
sqft_basement  45387.0  2.920880e+02  4.431345e+02  0.000000e+00  0.000000e+00  0.000000e+00  5.600000e+02  4.820000e+03
yr_built       45387.0  1.970861e+03  2.932328e+01  1.900000e+03  1.951000e+03  1.975000e+03  1.996000e+03  2.015000e+03
yr_renovated   45387.0  8.491061e+01  4.028230e+02  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  2.015000e+03
zipcode        45387.0  9.807789e+04  5.349267e+01  9.800100e+04  9.803300e+04  9.806500e+04  9.811700e+04  9.819900e+04
lat            45387.0  4.755987e+01  1.385976e-01  4.715590e+01  4.747020e+01  4.757160e+01  4.767800e+01  4.777760e+01
long           45387.0 -1.222138e+02  1.406336e-01 -1.225190e+02 -1.223280e+02 -1.222300e+02 -1.221250e+02 -1.213150e+02
sqft_living15  45387.0  1.986695e+03  6.854419e+02  3.990000e+02  1.490000e+03  1.840000e+03  2.360000e+03  6.210000e+03
sqft_lot15     45387.0  1.279974e+04  2.724383e+04  6.510000e+02  5.100000e+03  7.630000e+03  1.009800e+04  8.712000e+05

In [6]:
# ALEX: remove plotting
# plt.figure(figsize=(12,8))
# sns.distplot(df['price'])
evaluate_lazy(df['price'])

0       221900.0
1       538000.0
2       180000.0
3       604000.0
4       510000.0
5      1225000.0
6       257500.0
7       291850.0
8       229500.0
9       323000.0
10      662500.0
11      468000.0
12      310000.0
13      400000.0
14      530000.0
15      650000.0
16      395000.0
17      485000.0
18      189000.0
19      230000.0
20      385000.0
21     2000000.0
22      285000.0
23      252700.0
24      329000.0
25      233000.0
26      937000.0
27      667000.0
28      438000.0
29      719000.0
30      580500.0
31      280000.0
32      687500.0
33      535000.0
34      322500.0
35      696000.0
36      550000.0
37      640000.0
38      240000.0
39      605000.0
40      625000.0
41      775000.0
42      861990.0
43      685000.0
44      309000.0
45      488000.0
46      210490.0
47      785000.0
48      450000.0
49     1350000.0
50      228000.0
51      345000.0
52      600000.0
53      585000.0
54      920000.0
55      885000.0
56      292500.0
57      301000.0
58      951000.0
59      430000.0
60      650000.0
61      289000.0
62      505000.0
63      549000.0
64      425000.0
65      317625.0
66      975000.0
67      287000.0
68      204000.0
69     1325000.0
70     1040000.0
71      325000.0
72      571000.0
73      360000.0
74      349000.0
75      832500.0
76      380000.0
77      480000.0
78      410000.0
79      720000.0
80      390000.0
81      360000.0
82      355000.0
83      356000.0
84      315000.0
85      940000.0
86      305000.0
87      461000.0
88      215000.0
89      335000.0
90      243500.0
91     1099880.0
92      153000.0
93      430000.0
94      700000.0
95      905000.0
96      247500.0
97      199000.0
98      314000.0
99      437500.0
100     850830.0
101     555000.0
102     699950.0
103    1088000.0
104     290000.0
105     375000.0
106     460000.0
107     188500.0
108     680000.0
109     470000.0
110     597750.0
111     570000.0
112     272500.0
113     329950.0
114     480000.0
115     740500.0
116     518500.0
117     205425.0
118     171800.0
119     535000.0
120     660000.0
121     391500.0
122     395000.0
123     445000.0
124     770000.0
125    1450000.0
126     445000.0
127     260000.0
128     822500.0
129     430000.0
130     212000.0
131     660500.0
132     784000.0
133     453246.0
134     675000.0
135     199000.0
136     220000.0
137     452000.0
138     382500.0
139     519950.0
140     665000.0
141     527700.0
142     205000.0
143     420000.0
144     500000.0
145     921500.0
146     890000.0
147     430000.0
148     258000.0
149     511000.0
150     532170.0
151     560000.0
152     282950.0
153    2250000.0
154     350000.0
155     215000.0
156     650000.0
157     320000.0
158     247000.0
159     320000.0
160     255000.0
161     438000.0
162     900000.0
163     441000.0
164     420000.0
165     370000.0
166     269950.0
167     807100.0
168     653000.0
169     371500.0
170     284000.0
171     272000.0
172     313000.0
173     917500.0
174     673000.0
175     425000.0
176     399950.0
177     385000.0
178     269950.0
179     330000.0
180     260000.0
181     470000.0
182     589000.0
183     163500.0
184     835000.0
185    1095000.0
186     269000.0
187     560000.0
188     615000.0
189     585188.0
190     305000.0
191     166950.0
192     799000.0
193     400000.0
194     230000.0
195     256883.0
196     423000.0
197     465000.0
198     440000.0
199     385000.0
200     210000.0
201     297000.0
202     470000.0
203     226500.0
204     274250.0
205     840000.0
206     677900.0
207     425000.0
208     180250.0
209     464000.0
210     320000.0
211     625504.0
212     592500.0
213     465000.0
214     477000.0
215     280000.0
216    1505000.0
217     445838.0
218    1072000.0
219     467000.0
220     686000.0
221     279950.0
222     527000.0
223     325000.0
224     328000.0
225     390000.0
226     479950.0
227     264950.0
228     235000.0
229     516500.0
230     655000.0
231     500000.0
232     315000.0
233     213000.0
234     475000.0
235    1025000.0
236     416000.0
237     410000.0
238     800000.0
239     472000.0
240     225000.0
241     210000.0
242     455000.0
243     225000.0
244     480000.0
245     363000.0
246    2400000.0
247     181000.0
248     250000.0
249     481000.0
250     260000.0
251     455000.0
252     415000.0
253     349500.0
254     245000.0
255     592500.0
256     385000.0
257     315000.0
258     255000.0
259     693000.0
260     780000.0
261     237000.0
262     525000.0
263     425000.0
264     369900.0
265     290000.0
266     285000.0
267     415000.0
268     272500.0
269    2900000.0
270    1365000.0
271     436000.0
272     210000.0
273     236000.0
274     331000.0
275     365000.0
276     450000.0
277     770000.0
278     455000.0
279     405000.0
280     304900.0
281     170000.0
282    2050000.0
283     780000.0
284     330000.0
285     370000.0
286     467000.0
287     405000.0
288     675000.0
289     500000.0
290     389999.0
291     630000.0
292     360000.0
293     580000.0
294     550000.0
295     879000.0
296     265000.0
297     446500.0
298     404000.0
299     267500.0
300    3075000.0
301     335000.0
302     576000.0
303     208633.0
304     315000.0
305     725000.0
306     550000.0
307     610750.0
308     550700.0
309     665000.0
310     834000.0
311     201000.0
312    2384000.0
313    1384000.0
314    1400000.0
315     305000.0
316     487000.0
317     390000.0
318     548000.0
319     268750.0
320     819900.0
321     520000.0
322     230000.0
323     240000.0
324     232000.0
325     240500.0
326     274975.0
327     740000.0
328     186375.0
329     790000.0
330     880000.0
331     279000.0
332     295000.0
333     640000.0
334     940000.0
335     260000.0
336     559900.0
337     791500.0
338     265000.0
339     245000.0
340     485000.0
341     684000.0
342     425000.0
343     309600.0
344     552250.0
345     165000.0
346     239900.0
347     320000.0
348     206600.0
349     387000.0
350     299000.0
351     855000.0
352     315000.0
353     437500.0
354     252000.0
355     375000.0
356     300000.0
357     420000.0
358     900000.0
359     679900.0
360     463000.0
361     380000.0
362     329500.0
363     604950.0
364     795000.0
365     465000.0
366     673000.0
367     810000.0
368     785000.0
369     338000.0
370     280000.0
371     315000.0
372     530000.0
373     380000.0
374     297000.0
375     730000.0
376     450000.0
377     275000.0
378     595000.0
379     435000.0
380     270000.0
381     950000.0
382     389000.0
383     560000.0
384    1350000.0
385     799000.0
386     365500.0
387     252350.0
388     403950.0
389     385000.0
390     345000.0
391     490000.0
392     330000.0
393     927000.0
394    1118000.0
395     330000.0
396     530000.0
397     365000.0
398     378750.0
399     269900.0
400     557000.0
401     360000.0
402     352000.0
403     437000.0
404     322500.0
405     650000.0
406     450000.0
407     278500.0
408     364950.0
409     840000.0
410     268000.0
411     517534.0
412     632925.0
413     577500.0
414     339000.0
415     570000.0
416     563500.0
417     423000.0
418     355000.0
419    1550000.0
420     482000.0
421     625000.0
422     538000.0
423     380000.0
424     375000.0
425     245000.0
426     310000.0
427    1300000.0
428     397000.0
429     365000.0
430     328500.0
431     988000.0
432    1000000.0
433     237000.0
434     525000.0
435     749000.0
436     722500.0
437     843000.0
438     438000.0
439     578000.0
440     227950.0
441     196000.0
442     641000.0
443     350000.0
444     205000.0
445     400000.0
446    1030000.0
447     505000.0
448     475000.0
449     520000.0
450    1450000.0
451     333500.0
452     232000.0
453     691100.0
454     811000.0
455     551000.0
456     496500.0
457     705000.0
458     578000.0
459     255000.0
460    1050000.0
461     348000.0
462     230000.0
463     359500.0
464     330000.0
465      80000.0
466     465000.0
467     325000.0
468     340500.0
469     342500.0
470     290900.0
471     868700.0
472    1199000.0
473    1150000.0
474     859900.0
475     520000.0
476     460000.0
477     438924.0
478     315000.0
479     590000.0
480     378500.0
481     328500.0
482     849950.0
483     525000.0
484    1385000.0
485     295000.0
486    1067000.0
487     207950.0
488     699900.0
489    1280000.0
490     452000.0
491     370000.0
492     232000.0
493     669950.0
494     397500.0
495     490000.0
496     725000.0
497     299000.0
498     625000.0
499     437500.0
500     650000.0
501     475000.0
502     342000.0
503    1197350.0
504     280000.0
505     240000.0
506     529000.0
507     442000.0
508     615000.0
509    1485000.0
510     585000.0
511     480000.0
512    1095000.0
513     290000.0
514     615000.0
515     300000.0
516     308000.0
517     750000.0
518    2250000.0
519     890000.0
520     288000.0
521     190000.0
522     515000.0
523     235000.0
524     275000.0
525     727500.0
526     650000.0
527    1600000.0
528     365000.0
529     662000.0
530     270500.0
531     200000.0
532     970000.0
533     160000.0
534     204000.0
535     358000.0
536     452000.0
537     595000.0
538     249000.0
539     346900.0
540    2125000.0
541     280000.0
542     318888.0
543     530000.0
544     375000.0
545     910000.0
546     782000.0
547     259950.0
548     315000.0
549     215000.0
550     705000.0
551    1450000.0
552     451000.0
553     261000.0
554     396000.0
555     725000.0
556    1950000.0
557     238000.0
558     750000.0
559     331500.0
560     460000.0
561     404950.0
562     880000.0
563     863000.0
564     638700.0
565     435000.0
566     260000.0
567     671500.0
568     610000.0
569     405000.0
570     338900.0
571     720000.0
572     442000.0
573     650000.0
574     263500.0
575     300000.0
576     266000.0
577     930000.0
578     530000.0
579     180000.0
580     619000.0
581     264000.0
582     730000.0
583     439000.0
584     268500.0
585     330000.0
586     640000.0
587     900000.0
588     370000.0
589     685000.0
590     505000.0
591     265000.0
592     290000.0
593     296000.0
594     360000.0
595     240500.0
596     372500.0
597     595000.0
598     515000.0
599    1220000.0
600     507000.0
601     399950.0
602     185000.0
603     460000.0
604     435500.0
605     469000.0
606     531000.0
607     443500.0
608     223000.0
609     590000.0
610     340000.0
611     650000.0
612     533600.0
613     695000.0
614     242000.0
615     425000.0
616     525000.0
617     485000.0
618     175000.0
619     210000.0
620     260000.0
621     577000.0
622     200000.0
623     605000.0
624     325000.0
625     289500.0
626     559950.0
627    1042500.0
628     543500.0
629     480000.0
630     218000.0
631     565000.0
632     426700.0
633     650000.0
634     542000.0
635     415000.0
636     214000.0
637     245000.0
638     314500.0
639    1120000.0
640     378000.0
641     305000.0
642     595000.0
643     729500.0
644     430000.0
645     240000.0
646     545000.0
647     530000.0
648     157000.0
649     425000.0
650     220000.0
651     521000.0
652     325000.0
653     597500.0
654     337000.0
655    1000000.0
656    3070000.0
657     495000.0
658     748000.0
659     888000.0
660     269900.0
661     496500.0
662     475000.0
663     312000.0
664     323000.0
665     331000.0
666     306000.0
667     655000.0
668     290000.0
669    1250000.0
670     460000.0
671     435000.0
672     664000.0
673     865000.0
674     385000.0
675     497000.0
676     280000.0
677     188000.0
678     478500.0
679    1145000.0
680     222000.0
681     799000.0
682     609900.0
683     413000.0
684     400000.0
685     802541.0
686     320000.0
687     507000.0
688     387500.0
689     396000.0
690     373000.0
691    1484900.0
692     359900.0
693     410000.0
694     690000.0
695     245000.0
696     700000.0
697     268000.0
698     225000.0
699     980000.0
700     795000.0
701     195000.0
702     480000.0
703     485000.0
704     130000.0
705     325000.0
706     440000.0
707     550000.0
708     310000.0
709     530000.0
710     390000.0
711     243000.0
712     639000.0
713     215000.0
714     405000.0
715     250000.0
716     405500.0
717     452000.0
718     730000.0
719     267000.0
720     289950.0
721     565000.0
722    1578000.0
723     636000.0
724     350000.0
725     320000.0
726     210000.0
727     245000.0
728     328000.0
729     985000.0
730     501000.0
731     315000.0
732     403000.0
733     550000.0
734     347500.0
735     365000.0
736     588000.0
737     605000.0
738    1300000.0
739     233000.0
740     360000.0
741     459000.0
742     740000.0
743     305000.0
744     395000.0
745     560000.0
746     650000.0
747     449950.0
748     517500.0
749     435000.0
750     329999.0
751     950000.0
752     447000.0
753     699800.0
754     850000.0
755     316500.0
756     942500.0
757    1310000.0
758     856600.0
759     405600.0
760     565000.0
761     400000.0
762     330000.0
763     374950.0
764     405300.0
765     560000.0
766     824000.0
767     260000.0
768     760000.0
769     405000.0
770     429900.0
771     341500.0
772     465250.0
773     450000.0
774     390000.0
775     420000.0
776     269950.0
777     493000.0
778     370000.0
779    2250000.0
780     305000.0
781     400000.0
782     320000.0
783     715000.0
784     650000.0
785     218000.0
786     500000.0
787     460000.0
788     232500.0
789     408200.0
790     522000.0
791     675000.0
792    1355000.0
793     249950.0
794     210000.0
795     429950.0
796     737500.0
797     710000.0
798     470000.0
799    1100000.0
800     650000.0
801    1216000.0
802     422120.0
803     625000.0
804     385200.0
805     500000.0
806     308000.0
807     565000.0
808     581000.0
809     361000.0
810     345000.0
811     419000.0
812     347000.0
813     625000.0
814    2400000.0
815     379000.0
816     310000.0
817     250000.0
818     682000.0
819     246500.0
820     325000.0
821     310950.0
822    1100000.0
823     287500.0
824     431000.0
825     226000.0
826     825000.0
827     175000.0
828     465750.0
829     659000.0
830     595000.0
831     350000.0
832     270000.0
833     662500.0
834     249900.0
835     324500.0
836     430000.0
837     419950.0
838     285000.0
839     332000.0
840     282000.0
841     320000.0
842     428750.0
843     330000.0
844     456500.0
845     352000.0
846     664000.0
847     628000.0
848     512000.0
849     254000.0
850     535800.0
851     287653.0
852     438000.0
853     450000.0
854     327000.0
855     370500.0
856     265000.0
857     450000.0
858     425000.0
859     166600.0
860     245000.0
861     565000.0
862     539900.0
863     910000.0
864     280000.0
865     275000.0
866     467000.0
867     457500.0
868     381156.0
869     289999.0
870     642450.0
871     469950.0
872     795000.0
873     785000.0
874     860000.0
875    1095000.0
876     147500.0
877     390000.0
878     229000.0
879     185000.0
880     414900.0
881     200000.0
882     225000.0
883     720000.0
884     930000.0
885    1270000.0
886     700000.0
887     466000.0
888     374000.0
889     480000.0
890     740000.0
891    1010000.0
892     395000.0
893     340000.0
894     209000.0
895     431650.0
896     980000.0
897     660000.0
898     730000.0
899     291500.0
900     905000.0
901     800000.0
902     839900.0
903     200000.0
904     300000.0
905     530000.0
906     314950.0
907     255000.0
908     550000.0
909     435000.0
910     234000.0
911     615000.0
912     205000.0
913     384000.0
914     324000.0
915     645000.0
916     570000.0
917     324000.0
918     270000.0
919     290000.0
920     250000.0
921     342000.0
922     255000.0
923     800000.0
924     451000.0
925     990000.0
926     288400.0
927     420000.0
928     359000.0
929     390000.0
930     300000.0
931     545000.0
932     288349.0
933     299900.0
934     891000.0
935    1200000.0
936     378000.0
937     299995.0
938     253000.0
939     350000.0
940     565000.0
941     315000.0
942     570000.0
943     971000.0
944     915000.0
945     419000.0
946     260000.0
947    1321500.0
948     369950.0
949    1029900.0
950     435000.0
951     601000.0
952     460500.0
953     720000.0
954     851000.0
955     550000.0
956     700000.0
957     323000.0
958     345500.0
959     378000.0
960     650000.0
961     385000.0
962     425000.0
963     210000.0
964     630000.0
965     335000.0
966     196500.0
967     582800.0
968     440000.0
969     752500.0
970     532500.0
971     265000.0
972     397500.0
973     524250.0
974     765000.0
975     648000.0
976     469500.0
977     237500.0
978     216000.0
979     427200.0
980     280000.0
981     718000.0
982     420000.0
983     379000.0
984     326100.0
985     535000.0
986     283000.0
987     260000.0
988     399000.0
989     484950.0
990     640000.0
991     585000.0
992     645000.0
993     253000.0
994     178500.0
995     291000.0
996     199950.0
997     553500.0
998     189950.0
999     289000.0
Name: price, dtype: float64
Showing only the first 1000

In [7]:
# ALEX: remove plotting
# sns.countplot(df['bedrooms'])
evaluate_lazy(df['bedrooms'])

0      3
1      3
2      2
3      4
4      3
5      4
6      3
7      3
8      3
9      3
10     3
11     2
12     3
13     3
14     5
15     4
16     3
17     4
18     2
19     3
20     4
21     3
22     5
23     2
24     3
25     3
26     3
27     3
28     3
29     4
30     3
31     2
32     4
33     3
34     4
35     3
36     4
37     4
38     4
39     4
40     4
41     4
42     5
43     3
44     3
45     3
46     3
47     4
48     3
49     3
50     3
51     5
52     3
53     2
54     5
55     4
56     4
57     3
58     5
59     4
60     3
61     3
62     3
63     3
64     3
65     3
66     4
67     4
68     3
69     5
70     5
71     3
72     4
73     4
74     3
75     4
76     4
77     3
78     3
79     4
80     3
81     4
82     2
83     3
84     3
85     3
86     5
87     3
88     2
89     2
90     4
91     5
92     3
93     3
94     3
95     4
96     3
97     4
98     3
99     3
100    3
101    3
102    3
103    3
104    3
105    3
106    3
107    2
108    4
109    5
110    4
111    3
112    3
113    3
114    4
115    3
116    3
117    2
118    4
119    4
120    3
121    3
122    2
123    4
124    3
125    4
126    3
127    4
128    5
129    4
130    3
131    4
132    3
133    3
134    4
135    3
136    4
137    4
138    2
139    3
140    2
141    5
142    3
143    3
144    4
145    4
146    4
147    2
148    5
149    3
150    3
151    3
152    3
153    4
154    1
155    3
156    5
157    4
158    3
159    4
160    5
161    3
162    3
163    3
164    3
165    3
166    2
167    4
168    3
169    3
170    3
171    3
172    3
173    4
174    4
175    3
176    5
177    3
178    3
179    2
180    3
181    4
182    4
183    2
184    4
185    5
186    4
187    3
188    4
189    3
190    3
191    3
192    3
193    3
194    3
195    3
196    4
197    3
198    3
199    3
200    3
201    3
202    3
203    3
204    3
205    4
206    3
207    3
208    2
209    6
210    4
211    3
212    4
213    3
214    4
215    2
216    5
217    3
218    2
219    2
220    4
221    3
222    4
223    3
224    3
225    3
226    2
227    4
228    3
229    3
230    2
231    4
232    6
233    2
234    3
235    5
236    3
237    4
238    3
239    6
240    3
241    2
242    2
243    3
244    2
245    3
246    4
247    2
248    4
249    3
250    3
251    4
252    3
253    3
254    3
255    2
256    4
257    3
258    3
259    4
260    3
261    3
262    3
263    2
264    1
265    4
266    3
267    2
268    3
269    4
270    4
271    2
272    3
273    3
274    3
275    3
276    3
277    4
278    4
279    3
280    4
281    2
282    5
283    4
284    3
285    4
286    5
287    3
288    5
289    2
290    4
291    4
292    4
293    4
294    3
295    4
296    3
297    3
298    3
299    3
300    4
301    3
302    3
303    3
304    3
305    3
306    4
307    4
308    2
309    4
310    4
311    5
312    5
313    4
314    4
315    4
316    3
317    3
318    2
319    4
320    5
321    3
322    3
323    3
324    2
325    2
326    3
327    4
328    3
329    3
330    4
331    6
332    3
333    2
334    4
335    4
336    3
337    4
338    3
339    3
340    4
341    4
342    3
343    4
344    4
345    4
346    4
347    2
348    3
349    4
350    1
351    4
352    3
353    2
354    4
355    4
356    4
357    4
358    3
359    3
360    3
361    5
362    4
363    3
364    5
365    3
366    4
367    4
368    4
369    4
370    3
371    4
372    4
373    5
374    3
375    4
376    3
377    3
378    4
379    3
380    2
381    3
382    4
383    4
384    5
385    4
386    3
387    3
388    4
389    4
390    4
391    3
392    3
393    4
394    4
395    2
396    5
397    4
398    3
399    4
400    3
401    4
402    2
403    3
404    4
405    3
406    3
407    3
408    4
409    4
410    3
411    2
412    3
413    3
414    4
415    3
416    4
417    4
418    3
419    5
420    2
421    3
422    3
423    3
424    2
425    3
426    5
427    3
428    4
429    3
430    4
431    4
432    4
433    3
434    4
435    4
436    5
437    3
438    2
439    3
440    3
441    3
442    2
443    3
444    3
445    3
446    3
447    3
448    5
449    3
450    3
451    3
452    3
453    3
454    3
455    3
456    3
457    3
458    4
459    3
460    4
461    3
462    3
463    4
464    3
465    1
466    3
467    4
468    3
469    3
470    2
471    3
472    4
473    4
474    4
475    4
476    3
477    3
478    2
479    4
480    4
481    3
482    3
483    3
484    4
485    4
486    6
487    2
488    4
489    5
490    4
491    3
492    3
493    5
494    3
495    2
496    4
497    3
498    2
499    3
500    4
501    2
502    3
503    4
504    3
505    2
506    3
507    3
508    2
509    4
510    4
511    4
512    5
513    4
514    3
515    2
516    3
517    3
518    4
519    4
520    3
521    2
522    5
523    4
524    2
525    2
526    4
527    6
528    4
529    3
530    3
531    2
532    4
533    3
534    3
535    3
536    4
537    2
538    3
539    4
540    3
541    4
542    4
543    3
544    3
545    4
546    4
547    2
548    4
549    2
550    3
551    3
552    3
553    2
554    3
555    4
556    7
557    4
558    6
559    4
560    4
561    4
562    3
563    4
564    3
565    3
566    3
567    5
568    3
569    2
570    4
571    4
572    5
573    5
574    3
575    2
576    3
577    4
578    4
579    3
580    3
581    3
582    2
583    4
584    4
585    3
586    3
587    3
588    3
589    3
590    3
591    3
592    3
593    4
594    4
595    3
596    2
597    3
598    4
599    4
600    2
601    4
602    3
603    3
604    3
605    4
606    2
607    2
608    3
609    4
610    2
611    3
612    3
613    3
614    3
615    3
616    3
617    3
618    3
619    3
620    3
621    3
622    3
623    2
624    3
625    3
626    3
627    3
628    3
629    4
630    3
631    2
632    3
633    3
634    2
635    3
636    3
637    3
638    3
639    3
640    2
641    4
642    5
643    3
644    3
645    3
646    3
647    3
648    1
649    4
650    3
651    4
652    3
653    3
654    3
655    3
656    3
657    3
658    4
659    3
660    3
661    4
662    3
663    3
664    3
665    3
666    3
667    4
668    3
669    4
670    3
671    4
672    4
673    4
674    3
675    3
676    2
677    2
678    3
679    4
680    3
681    4
682    4
683    4
684    4
685    5
686    3
687    4
688    3
689    3
690    3
691    5
692    4
693    2
694    4
695    3
696    5
697    4
698    3
699    4
700    2
701    2
702    4
703    4
704    2
705    2
706    3
707    4
708    3
709    3
710    4
711    3
712    4
713    4
714    5
715    4
716    3
717    6
718    6
719    3
720    3
721    2
722    4
723    3
724    5
725    3
726    2
727    2
728    3
729    4
730    3
731    3
732    3
733    3
734    4
735    4
736    3
737    3
738    3
739    3
740    4
741    2
742    3
743    3
744    3
745    4
746    4
747    3
748    3
749    4
750    3
751    3
752    3
753    2
754    3
755    3
756    5
757    2
758    4
759    5
760    4
761    3
762    3
763    4
764    3
765    3
766    4
767    3
768    4
769    3
770    4
771    3
772    5
773    2
774    3
775    3
776    3
777    4
778    4
779    5
780    3
781    3
782    3
783    4
784    6
785    5
786    2
787    4
788    3
789    3
790    3
791    4
792    4
793    4
794    2
795    4
796    4
797    4
798    3
799    4
800    3
801    4
802    3
803    5
804    4
805    3
806    4
807    3
808    3
809    3
810    3
811    2
812    3
813    4
814    4
815    3
816    3
817    2
818    5
819    3
820    3
821    4
822    3
823    3
824    3
825    3
826    3
827    4
828    3
829    4
830    3
831    3
832    4
833    6
834    3
835    3
836    2
837    2
838    4
839    4
840    4
841    3
842    3
843    3
844    4
845    3
846    4
847    3
848    3
849    3
850    4
851    3
852    3
853    4
854    5
855    4
856    3
857    4
858    3
859    3
860    1
861    3
862    3
863    3
864    4
865    3
866    3
867    3
868    2
869    5
870    3
871    3
872    3
873    4
874    3
875    0
876    3
877    3
878    3
879    3
880    3
881    4
882    4
883    3
884    4
885    5
886    5
887    2
888    3
889    3
890    3
891    4
892    4
893    2
894    3
895    5
896    5
897    3
898    4
899    3
900    4
901    4
902    4
903    1
904    3
905    3
906    3
907    3
908    5
909    3
910    3
911    4
912    3
913    4
914    3
915    3
916    3
917    3
918    2
919    5
920    3
921    3
922    3
923    3
924    3
925    4
926    4
927    3
928    2
929    4
930    3
931    5
932    3
933    3
934    4
935    3
936    4
937    2
938    3
939    3
940    4
941    2
942    4
943    5
944    5
945    4
946    4
947    3
948    3
949    3
950    5
951    3
952    3
953    3
954    4
955    4
956    4
957    3
958    3
959    4
960    4
961    3
962    2
963    4
964    4
965    3
966    3
967    4
968    3
969    4
970    3
971    3
972    3
973    3
974    4
975    4
976    5
977    3
978    3
979    3
980    3
981    5
982    2
983    2
984    2
985    3
986    4
987    3
988    4
989    3
990    4
991    4
992    4
993    3
994    2
995    4
996    2
997    2
998    2
999    3
Name: bedrooms, dtype: int32
Showing only the first 1000

In [8]:
# ALEX: remove plotting
# plt.figure(figsize=(12,8))
# sns.scatterplot(x='price',y='sqft_living',data=df)

In [9]:
# ALEX: remove plotting
# sns.boxplot(x='bedrooms',y='price',data=df)

### Geographical Properties

In [10]:
# ALEX: remove plotting
# plt.figure(figsize=(12,8))
# sns.scatterplot(x='price',y='long',data=df)

In [11]:
# ALEX: remove plotting
# plt.figure(figsize=(12,8))
# sns.scatterplot(x='price',y='lat',data=df)

In [12]:
# ALEX: remove plotting
# plt.figure(figsize=(12,8))
# sns.scatterplot(x='long',y='lat',data=df,hue='price')

In [13]:
df.sort_values('price',ascending=False).head(20)

               id             date      price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15
7252   6762700020  20141013T000000  7700000.0         6       8.00        12050     27600     2.5           0     3          4     13        8570           3480      1910          1987    98102  47.6298 -122.323           3940        8800
28865  6762700020  20141013T000000  7700000.0         6       8.00        12050     27600     2.5           0     3          4     13        8570           3480      1910          1987    98102  47.6298 -122.323           3940        8800
3914   9808700762  20140611T000000  7062500.0         5       4.50        10040     37325     2.0           1     2          3     11        7680           2360      1940          2001    98004  47.6500 -122.214           3930       25449
25527  9808700762  20140611T000000  7062500.0         5       4.50        10040     37325     2.0           1     2          3     11        7680           2360      1940          2001    98004  47.6500 -122.214           3930       25449
9254   9208900037  20140919T000000  6885000.0         6       7.75         9890     31374     2.0           0     4          3     13        8860           1030      2001             0    98039  47.6305 -122.240           4540       42730
30867  9208900037  20140919T000000  6885000.0         6       7.75         9890     31374     2.0           0     4          3     13        8860           1030      2001             0    98039  47.6305 -122.240           4540       42730
4411   2470100110  20140804T000000  5570000.0         5       5.75         9200     35069     2.0           0     0          3     13        6200           3000      2001             0    98039  47.6289 -122.233           3560       24345
26024  2470100110  20140804T000000  5570000.0         5       5.75         9200     35069     2.0           0     0          3     13        6200           3000      2001             0    98039  47.6289 -122.233           3560       24345
1448   8907500070  20150413T000000  5350000.0         5       5.00         8000     23985     2.0           0     4          3     12        6720           1280      2009             0    98004  47.6232 -122.220           4600       21750
23061  8907500070  20150413T000000  5350000.0         5       5.00         8000     23985     2.0           0     4          3     12        6720           1280      2009             0    98004  47.6232 -122.220           4600       21750
44674  8907500070  20150413T000000  5350000.0         5       5.00         8000     23985     2.0           0     4          3     12        6720           1280      2009             0    98004  47.6232 -122.220           4600       21750
1315   7558700030  20150413T000000  5300000.0         6       6.00         7390     24829     2.0           1     4          4     12        5000           2390      1991             0    98040  47.5631 -122.210           4320       24619
22928  7558700030  20150413T000000  5300000.0         6       6.00         7390     24829     2.0           1     4          4     12        5000           2390      1991             0    98040  47.5631 -122.210           4320       24619
44541  7558700030  20150413T000000  5300000.0         6       6.00         7390     24829     2.0           1     4          4     12        5000           2390      1991             0    98040  47.5631 -122.210           4320       24619
1164   1247600105  20141020T000000  5110800.0         5       5.25         8010     45517     2.0           1     4          3     12        5990           2020      1999             0    98033  47.6767 -122.211           3430       26788
22777  1247600105  20141020T000000  5110800.0         5       5.25         8010     45517     2.0           1     4          3     12        5990           2020      1999             0    98033  47.6767 -122.211           3430       26788
44390  1247600105  20141020T000000  5110800.0         5       5.25         8010     45517     2.0           1     4          3     12        5990           2020      1999             0    98033  47.6767 -122.211           3430       26788
8092   1924059029  20140617T000000  4668000.0         5       6.75         9640     13068     1.0           1     4          3     12        4820           4820      1983          2009    98040  47.5570 -122.210           3270       10454
29705  1924059029  20140617T000000  4668000.0         5       6.75         9640     13068     1.0           1     4          3     12        4820           4820      1983          2009    98040  47.5570 -122.210           3270       10454
2626   7738500731  20140815T000000  4500000.0         5       5.50         6640     40014     2.0           1     4          3     12        6350            290      2004             0    98155  47.7493 -122.280           3030       23408

In [14]:
len(df)*(0.01)

453.87

In [15]:
non_top_1_perc = df.sort_values('price',ascending=False).iloc[216:]

In [16]:
# ALEX: remove plotting
# plt.figure(figsize=(12,8))
# sns.scatterplot(x='long',y='lat',
#                 data=non_top_1_perc,hue='price',
#                 palette='RdYlGn',edgecolor=None,alpha=0.2)

### Other Features

In [17]:
# ALEX: remove plotting
# sns.boxplot(x='waterfront',y='price',data=df)

## Working with Feature Data

In [18]:
df.head()

           id             date     price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0         3       1.00         1180      5650     1.0           0     0          3      7        1180              0      1955             0    98178  47.5112 -122.257           1340        5650
1  6414100192  20141209T000000  538000.0         3       2.25         2570      7242     2.0           0     0          3      7        2170            400      1951          1991    98125  47.7210 -122.319           1690        7639
2  5631500400  20150225T000000  180000.0         2       1.00          770     10000     1.0           0     0          3      6         770              0      1933             0    98028  47.7379 -122.233           2720        8062
3  2487200875  20141209T000000  604000.0         4       3.00         1960      5000     1.0           0     0          5      7        1050            910      1965             0    98136  47.5208 -122.393           1360        5000
4  1954400510  20150218T000000  510000.0         3       2.00         1680      8080     1.0           0     0          3      8        1680              0      1987             0    98074  47.6168 -122.045           1800        7503

In [19]:
df.info()

<class 'pyspark.pandas.frame.DataFrame'>
Int64Index: 45387 entries, 0 to 45386
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             45387 non-null  int64
 1   date           45387 non-null  object
 2   price          45387 non-null  float64
 3   bedrooms       45387 non-null  int32
 4   bathrooms      45387 non-null  float64
 5   sqft_living    45387 non-null  int32
 6   sqft_lot       45387 non-null  int32
 7   floors         45387 non-null  float64
 8   waterfront     45387 non-null  int32
 9   view           45387 non-null  int32
 10  condition      45387 non-null  int32
 11  grade          45387 non-null  int32
 12  sqft_above     45387 non-null  int32
 13  sqft_basement  45387 non-null  int32
 14  yr_built       45387 non-null  int32
 15  yr_renovated   45387 non-null  int32
 16  zipcode        45387 non-null  int32
 17  lat            45387 non-null  float64
 18  long           45387 non-null  float64
 19  sqft_living15  45387 non-null  int32
 20  sqft_lot15     45387 non-null  int32
dtypes: float64(5), int32(14), int64(1), object(1)

25/01/26 22:09:33 WARN AttachDistributedSequenceExec: clean up cached RDD(99) in AttachDistributedSequenceExec(335)

In [20]:
df = df.drop('id',axis=1)

In [21]:
df.head()

              date     price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15
0  20141013T000000  221900.0         3       1.00         1180      5650     1.0           0     0          3      7        1180              0      1955             0    98178  47.5112 -122.257           1340        5650
1  20141209T000000  538000.0         3       2.25         2570      7242     2.0           0     0          3      7        2170            400      1951          1991    98125  47.7210 -122.319           1690        7639
2  20150225T000000  180000.0         2       1.00          770     10000     1.0           0     0          3      6         770              0      1933             0    98028  47.7379 -122.233           2720        8062
3  20141209T000000  604000.0         4       3.00         1960      5000     1.0           0     0          5      7        1050            910      1965             0    98136  47.5208 -122.393           1360        5000
4  20150218T000000  510000.0         3       2.00         1680      8080     1.0           0     0          3      8        1680              0      1987             0    98074  47.6168 -122.045           1800        7503

### Feature Engineering from Date

In [22]:
df['date'] = pd.to_datetime(df['date'])

In [23]:
df['month'] = df['date'].apply(lambda date:date.month)

In [24]:
df['year'] = df['date'].apply(lambda date:date.year)

In [25]:
# ALEX: remove plotting
# sns.boxplot(x='year',y='price',data=df)

In [26]:
# ALEX: remove plotting
# sns.boxplot(x='month',y='price',data=df)

In [27]:
# ALEX: remove plotting
# df.groupby('month').mean()['price'].plot()
evaluate_lazy(df.groupby('month').mean()['price'])

/home/alex/Programs/python/dias/.venv/lib64/python3.10/site-packages/pyspark/pandas/groupby.py:649: FutureWarning: Default value of `numeric_only` will be changed to `False` instead of `True` in 4.0.0.
  warnings.warn(
25/01/26 22:09:41 WARN AttachDistributedSequenceExec: clean up cached RDD(146) in AttachDistributedSequenceExec(482)

month
7     544628.620890
6     558698.771174
9     528156.692699
5     549687.067232
1     524256.597958
10    538642.702524
3     543767.409010
12    522794.115397
8     535641.941743
11    523455.987274
2     506680.029669
4     563009.797430
Name: price, dtype: float64

In [28]:
# ALEX: remove plotting
# df.groupby('year').mean()['price'].plot()
evaluate_lazy(df.groupby('year').mean()['price'])

/home/alex/Programs/python/dias/.venv/lib64/python3.10/site-packages/pyspark/pandas/groupby.py:649: FutureWarning: Default value of `numeric_only` will be changed to `False` instead of `True` in 4.0.0.
  warnings.warn(
25/01/26 22:09:42 WARN AttachDistributedSequenceExec: clean up cached RDD(166) in AttachDistributedSequenceExec(603)

year
2014    538697.497155
2015    541992.342037
Name: price, dtype: float64

In [29]:
df = df.drop('date',axis=1)

In [30]:
df.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'month', 'year'],
      dtype='object')

In [31]:
# https://i.pinimg.com/originals/4a/ab/31/4aab31ce95d5b8474fd2cc063f334178.jpg
# May be worth considering to remove this or feature engineer categories from it
evaluate_lazy(df['zipcode'].value_counts())

/home/alex/Programs/python/dias/.venv/lib64/python3.10/site-packages/pyspark/pandas/base.py:1437: FutureWarning: The resulting Series will have a fixed name of 'count' from 4.0.0.
  warnings.warn(

98103    1265
98038    1244
98115    1218
98052    1196
98117    1159
98034    1153
98042    1151
98118    1061
98023    1056
98006    1054
98133    1044
98059     983
98058     973
98155     932
98074     932
98033     908
98027     858
98125     857
98053     856
98056     852
98001     760
98075     758
98126     742
98092     740
98144     716
98116     696
98106     693
98029     670
98004     659
98199     657
98065     641
98122     606
98146     603
98040     600
98028     592
98198     591
98008     589
98003     587
98031     575
98072     570
98055     569
98168     565
98112     563
98178     558
98136     557
98107     548
98030     542
98166     537
98177     533
98022     488
98105     482
98045     461
98077     425
98002     414
98011     414
98019     396
98108     390
98119     383
98005     351
98007     297
98188     287
98032     262
98014     261
98070     248
98109     229
98102     223
98010     216
98024     174
98148     117
98039     100
Name: zipcode, dtype: int64

In [32]:
df = df.drop('zipcode',axis=1)

In [33]:
df.head()

      price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated      lat     long  sqft_living15  sqft_lot15  month  year
0  221900.0         3       1.00         1180      5650     1.0           0     0          3      7        1180              0      1955             0  47.5112 -122.257           1340        5650     10  2014
1  538000.0         3       2.25         2570      7242     2.0           0     0          3      7        2170            400      1951          1991  47.7210 -122.319           1690        7639     12  2014
2  180000.0         2       1.00          770     10000     1.0           0     0          3      6         770              0      1933             0  47.7379 -122.233           2720        8062      2  2015
3  604000.0         4       3.00         1960      5000     1.0           0     0          5      7        1050            910      1965             0  47.5208 -122.393           1360        5000     12  2014
4  510000.0         3       2.00         1680      8080     1.0           0     0          3      8        1680              0      1987             0  47.6168 -122.045           1800        7503      2  2015

In [34]:
# could make sense due to scaling, higher should correlate to more value
evaluate_lazy(df['yr_renovated'].value_counts())

/home/alex/Programs/python/dias/.venv/lib64/python3.10/site-packages/pyspark/pandas/base.py:1437: FutureWarning: The resulting Series will have a fixed name of 'count' from 4.0.0.
  warnings.warn(

0       43456
2014      194
2013       78
2003       77
2000       74
2007       73
2005       73
1990       56
2004       55
2006       51
2002       48
1989       45
2009       45
1994       43
1991       43
1998       39
2001       39
1984       39
2010       38
1993       38
1987       37
1992       37
1983       37
2008       37
1999       37
1986       36
1985       35
1995       35
2015       32
1988       32
1997       31
1996       30
2011       29
1980       23
1982       22
2012       22
1979       21
1970       19
1977       18
1968       16
1978       14
1975       12
1973       11
1981       11
1965       10
1958       10
1964       10
1969        9
1945        8
1963        8
1960        8
1972        8
1974        7
1957        7
1955        6
1956        6
1953        6
1976        6
1971        5
1950        5
1946        4
1967        4
1940        4
1962        4
1954        3
1948        3
1959        2
1944        2
1934        2
1951        2
Name: yr_renovated, dtype: int64

In [35]:
evaluate_lazy(df['sqft_basement'].value_counts())

/home/alex/Programs/python/dias/.venv/lib64/python3.10/site-packages/pyspark/pandas/base.py:1437: FutureWarning: The resulting Series will have a fixed name of 'count' from 4.0.0.
  warnings.warn(

0       27554
600       468
700       463
500       448
800       434
400       397
1000      313
300       297
900       295
530       229
200       225
750       219
480       219
450       216
720       213
620       191
840       180
580       178
420       168
860       164
1100      164
780       163
650       162
670       162
550       161
850       160
380       160
240       157
680       155
360       154
290       154
940       152
910       151
770       150
1010      149
350       148
440       147
1200      147
630       145
880       144
520       143
960       142
920       141
760       140
730       139
640       139
740       136
340       134
560       134
280       133
430       132
790       132
820       132
950       131
460       131
570       130
1040      126
830       123
140       120
1060      120
310       119
540       117
470       117
810       116
980       115
990       115
250       113
120       113
660       111
890       111
1020      111
1250      109
1070      108
330       101
970       100
510       100
390       100
870        99
690        96
1030       95
610        95
270        95
150        94
100        92
220        89
370        89
260        89
1120       88
930        87
590        86
1300       85
1400       84
1050       84
320        84
710        82
180        80
1110       75
1080       72
190        69
1090       69
1220       67
1270       63
1170       62
1130       62
1180       62
1230       62
160        61
490        61
1150       60
1500       59
210        59
170        59
1140       57
1160       54
1280       54
130        54
1190       51
1380       50
1320       50
1370       49
410        49
1260       44
1330       43
1240       43
1600       42
90         42
1420       41
1290       40
80         40
1340       39
1450       39
1360       38
1210       36
110        36
1390       35
1350       33
1460       32
1590       29
1510       27
1310       27
1430       27
1580       26
1800       26
50         24
1410       23
230        22
1540       22
1440       22
1480       21
1490       21
60         21
1650       18
1780       18
1760       18
1700       17
1620       17
1690       16
1570       16
1530       15
1720       15
1560       15
1520       14
1790       14
1660       14
70         14
1640       13
1850       12
2020       12
1680       12
1870       12
1670       11
1470       11
2060       11
1830       11
1550       10
1950       10
145        10
1940       10
1710       10
1900        9
40          8
1610        8
1630        8
1820        7
265         7
2170        6
2220        6
2150        6
1750        6
2070        6
1910        6
1740        6
2160        6
1860        6
2110        6
1810        5
2000        5
2200        4
1890        4
2090        4
435         4
2040        4
235         4
2080        4
2030        4
1840        4
10          4
2100        4
2330        4
414         4
515         4
2550        4
1730        4
2010        4
588         3
935         3
2590        3
1960        3
1284        3
2390        3
475         3
2570        3
243         2
2580        2
1990        2
3000        2
516         2
65          2
1525        2
2180        2
784         2
2240        2
1816        2
2610        2
1135        2
3500        2
3260        2
602         2
417         2
875         2
225         2
861         2
556         2
906         2
704         2
1008        2
1798        2
768         2
2600        2
274         2
792         2
1770        2
2196        2
1275        2
20          2
283         2
1245        2
295         2
4820        2
1930        2
266         2
415         2
4130        2
2190        2
2810        2
666         2
2620        2
862         2
207         2
1913        2
1248        2
374         2
2720        2
2490        2
176         2
2850        2
2350        2
2120        2
518         2
946         2
3480        2
2050        2
143         2
1548        2
2250        2
2300        2
2130        2
1920        2
1281        2
2400        2
1880        2
1024        2
1852        2
508         2
2360        2
248         2
506         2
276         2
652         2
915         2
894         2
1481        2
172         2
2500        2
2730        2
2310        2
Name: sqft_basement, dtype: int64

## Scaling and Train Test Split

In [36]:
X = df.drop('price',axis=1)
y = df['price']

In [37]:
# ALEX: remove ML code
# from sklearn.model_selection import train_test_split

In [38]:
# ALEX: remove ML code
# X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=101)

### Scaling

In [39]:
# ALEX: remove ML code
# from sklearn.preprocessing import MinMaxScaler

In [40]:
# ALEX: remove ML code
# scaler = MinMaxScaler()

In [41]:
# ALEX: remove ML code
# X_train= scaler.fit_transform(X_train)

In [42]:
# ALEX: remove ML code
# X_test = scaler.transform(X_test)

In [43]:
# ALEX: remove ML code
# X_train.shape

In [44]:
# ALEX: remove ML code
# X_test.shape

## Creating a Model

In [45]:
# ALEX: remove ML code
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense, Activation
# from tensorflow.keras.optimizers import Adam

In [46]:
# ALEX: remove ML code
# model = Sequential()

# model.add(Dense(19,activation='relu'))
# model.add(Dense(19,activation='relu'))
# model.add(Dense(19,activation='relu'))
# model.add(Dense(19,activation='relu'))
# model.add(Dense(1))

# model.compile(optimizer='adam',loss='mse')

## Training the Model

In [47]:
# ALEX: remove ML code
# model.fit(x=X_train,y=y_train.values,
#           validation_data=(X_test,y_test.values),
#           batch_size=128,epochs=400)

In [48]:
# ALEX: remove ML code
# losses = pd.DataFrame(model.history.history)

In [49]:
# ALEX: remove ML code
# losses.plot()

# Evaluation on Test Data

https://scikit-learn.org/stable/modules/model_evaluation.html#regression-metrics

In [50]:
# ALEX: remove ML code
# from sklearn.metrics import mean_squared_error,mean_absolute_error,explained_variance_score

#### Predicting on Brand New Data

In [51]:
# ALEX: remove ML code
# X_test

In [52]:
# ALEX: remove ML code
# predictions = model.predict(X_test)

In [53]:
# ALEX: remove ML code
# mean_absolute_error(y_test,predictions)

In [54]:
# ALEX: remove ML code
# np.sqrt(mean_squared_error(y_test,predictions))

In [55]:
# ALEX: remove ML code
# explained_variance_score(y_test,predictions)

In [56]:
evaluate_lazy(df['price'].mean())

539759.5541454601

In [57]:
evaluate_lazy(df['price'].median())

450000.0

In [58]:
# Our predictions
# ALEX: remove plotting
# plt.scatter(y_test,predictions)

# # Perfect predictions
# plt.plot(y_test,y_test,'r')

-------------
### Predicting on a brand new house

In [59]:
single_house = df.drop('price',axis=1).iloc[0]

In [60]:
# ALEX: remove ML code
# single_house = scaler.transform(single_house.values.reshape(-1, 19))
single_house.values.reshape(-1, 19)

array([[ 3.00000e+00,  1.00000e+00,  1.18000e+03,  5.65000e+03,
         1.00000e+00,  0.00000e+00,  0.00000e+00,  3.00000e+00,
         7.00000e+00,  1.18000e+03,  0.00000e+00,  1.95500e+03,
         0.00000e+00,  4.75112e+01, -1.22257e+02,  1.34000e+03,
         5.65000e+03,  1.00000e+01,  2.01400e+03]])

In [61]:
evaluate_lazy(single_house)

bedrooms            3.0000
bathrooms           1.0000
sqft_living      1180.0000
sqft_lot         5650.0000
floors              1.0000
waterfront          0.0000
view                0.0000
condition           3.0000
grade               7.0000
sqft_above       1180.0000
sqft_basement       0.0000
yr_built         1955.0000
yr_renovated        0.0000
lat                47.5112
long             -122.2570
sqft_living15    1340.0000
sqft_lot15       5650.0000
month              10.0000
year             2014.0000
Name: 0, dtype: float64

In [62]:
# ALEX: remove ML code
# model.predict(single_house)

In [63]:
evaluate_lazy(df.iloc[0])

price            221900.0000
bedrooms              3.0000
bathrooms             1.0000
sqft_living        1180.0000
sqft_lot           5650.0000
floors                1.0000
waterfront            0.0000
view                  0.0000
condition             3.0000
grade                 7.0000
sqft_above         1180.0000
sqft_basement         0.0000
yr_built           1955.0000
yr_renovated          0.0000
lat                  47.5112
long               -122.2570
sqft_living15      1340.0000
sqft_lot15         5650.0000
month                10.0000
year               2014.0000
Name: 0, dtype: float64